
    <div id="main-header" class="relative pt-2 z-10 "  x-data="{showSearch: false, showNotifications: false, showUser: false, showCart: false}">
        <div class="flex container mx-auto gap-20">
            <div><a href="/"><img title="{{app.SystemSetting.sitename}}" src="{{app.CONF.url}}{{app.SystemSetting.logo}}" /></a></div>
            <div id="main-nav" class="w-full flex mt-8 border border-1 rounded-2xl py-2 px-6 bg-white">
                <ul  class="flex gap-4 w-full pt-1">
                    {% for menu in header_menu %}
                    <li class="navbar-dropdown">
                        <a href="/page/{{menu.page.lang_content.prefix}}">{{menu.page.lang_content.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="flex-end flex gap-4 pt-2 relative">
                    <a href="#" x-on:click="showSearch = true" ><img src="/src/front_assets/svg/search.svg" /></a>
                    <a href="#" x-on:click="showUser = true"><img src="/src/front_assets/svg/user.svg" /></a>
                    <a href="/cart" x-on:click="showCart = true"><img src="/src/front_assets/svg/cart.svg" /></a>
                    <a href="#"  x-on:click="showNotifications = true"><img src="/src/front_assets/svg/notifications.svg" /></a>
                    
                    <template  x-if="showNotifications" >
                        <div  class="relaive absolute mx-auto top-12 right-0 left-auto w-64" >
                            <i class="p-3 absolute right-10 fa fa-bell"></i>
                            <a href="javascript:;" x-on:click="showNotifications = !showNotifications" class="p-3 right-2 absolute  "> <i class="fa fa-close"></i> </a>
                            <input class="form-control rounded-lg py-2 w-full focus:border-gray-200 shadow-lg outline-none	px-4" /> 
                        </div>
                    </template>
                    <template  x-if="showUser" >
                        <div  class="relaive absolute mx-auto top-12 right-0 left-auto w-64" >
                            <i class="p-3 absolute right-10 fa fa-user"></i>
                            <a href="javascript:;" x-on:click="showUser = !showUser" class="p-3 right-2 absolute  "> <i class="fa fa-close"></i> </a>
                            <input class="form-control rounded-lg py-2 w-full focus:border-gray-200 shadow-lg outline-none	px-4" /> 
                        </div>
                    </template>
                    <template  x-if="showCart" >
                        <div  class="relaive absolute mx-auto top-12 right-0 left-auto w-64" >
                            <img class="p-3 absolute right-10 w-10" src="/src/front_assets/svg/cart.svg" />
                            <a href="javascript:;" x-on:click="showCart = !showCart" class="p-3 right-2 absolute  "> <i class="fa fa-close"></i> </a>
                            <input class="form-control rounded-lg py-2 w-full focus:border-gray-200 shadow-lg outline-none	px-4" /> 
                        </div>
                    </template>
                </div>
                
            </div>
            
        </div>
        
        <template  x-if="showSearch" class="w-full">
            <div  class="relaive absolute container mx-auto right-0 left-0" >
                <i class="p-3 absolute right-10 fa fa-search"></i>
                <a href="javascript:;" x-on:click="showSearch = !showSearch" class="p-3 right-2 absolute  "> <i class="fa fa-close text-xl"></i> </a>
                <input class="form-control rounded-lg py-2 w-full focus:border-gray-200 shadow-lg outline-none	px-4" /> 
            </div>
        </template>

        
    </div>


