<!DOCTYPE html>
<html lang="{{lang_key}}">
<head>
    
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{item.title}}</title>
    <meta name="description" content="{{item.field.seo_desc ? item.field.seo_desc : ''}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="{{app.request.uri}}">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.request.uri}}">
    <meta property="og:title" content="{{item.title}}">
    <meta property="og:image" content="https://bedaya.medianssolutions.com/route/image.php?src=1253926083_1828277228_581308477.jpg&img=pic&w=800">
    <meta property="og:description" content="{{item.field.seo_desc ? item.field.seo_desc : ''}}">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="{{item.title}}">
    <!-- <meta property="twitter:image" content=""> -->
    <meta property="twitter:description" content="{{item.field.seo_desc ? item.field.seo_desc : ''}}">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/uploads/images/favicon.webp">
    <link rel="icon" type="image.webp" sizes="32x32" href="/uploads/images/favicon.webp">
    <link rel="icon" type="image.webp" sizes="16x16" href="/uploads/images/favicon.webp">

    <!-- CSS -->
   <link rel="stylesheet" href="/src/front_assets/css/main.css">
    

    <!-- JS -->
    <script type="text/javascript">
    var rootURL = 'https://bedaya.medianssolutions.com/';
    var imageURL = 'https://bedaya.medianssolutions.com/route/image.php?';
    </script>
    <meta name="google-site-verification" content="-X2XHH_xRXPphZ-NG1_0ldtVIn2TQq5wHG8VRu9yZmY" />
    
</head>
<body class="p-0 m-0 ">
