{% if lang.translate('lang') == 'arabic' %}
<li class="py-1"><a title="{{lang.translate('Latest Technologies')}}" href="/أحدث-التقنيات">{{lang.translate('Latest Technologies')}}</a></li>
<li class="py-1"><a title="{{lang.translate('ONLINE_CONSULTATION')}}" href="/استشارات-اونلاين">{{lang.translate('ONLINE_CONSULTATION')}}</a></li>
<li class="py-1"><a title="{{lang.translate('INTERNATIONAL_PATIENTS')}}"  href="/expatriates">{{lang.translate('INTERNATIONAL_PATIENTS')}}</a></li>
<li class="py-1"><a title="{{lang.translate('Offers')}}"  href="/bedaya-offers">{{lang.translate('Offers')}}</a></li> 
<li class="py-1"><a title="{{lang.translate('Medical Journey')}}"  href="/رحلة-علاجك-في-مستشفى-بداية">{{lang.translate('Medical Journey')}}</a></li>
<li class="py-1"><a title="{{lang.translate('About Us')}}"  href="/من-نحن">{{lang.translate('About Us')}} </a></li>
{% else %}
<li class="py-1"><a title="{{lang.translate('About us')}}" href="/about-us">{{lang.translate('About Us')}} </a></li>
<li class="py-1"><a title="{{lang.translate('INTERNATIONAL_PATIENTS')}}"  href="/foreign-patients">{{lang.translate('INTERNATIONAL_PATIENTS')}}</a></li>
<li class="py-1"><a title="{{lang.translate('Latest Technologies')}}" href="/Latest-technologies">{{lang.translate('Latest Technologies')}}</a></li>
<li class="py-1"><a title="{{lang.translate('Offers')}}" href="/offers">{{lang.translate('Offers')}}</a></li> 
<li class="py-1"><a title="{{lang.translate('Medical Journey')}}" href="/Your-medical-journey-begins-in-the-hospital">{{lang.translate('Medical Journey')}}</a></li>
<li class="py-1"><a title="{{lang.translate('ONLINE_CONSULTATION')}}" href="/online-consultation">{{lang.translate('ONLINE_CONSULTATION')}}</a></li>
{% endif %}