{% if lang.translate('lang') == 'arabic' %}
<li class="py-1"><a href="/أحدث-التقنيات">{{lang.translate('Latest Technologies')}}</a></li>
<li class="py-1"><a href="/استشارات-اونلاين">{{lang.translate('ONLINE_CONSULTATION')}}</a></li>
<li class="py-1"><a href="/expatriates">{{lang.translate('INTERNATIONAL_PATIENTS')}}</a></li>
<li class="py-1"><a href="/bedaya-offers">{{lang.translate('Offers')}}</a></li> 
<li class="py-1"><a href="/رحلة-علاجك-في-مستشفى-بداية">{{lang.translate('Medical Journey')}}</a></li>
<li class="py-1"><a href="/من-نحن">{{lang.translate('About Us')}} </a></li>
{% else %}
<li class="py-1"><a href="/about-us">{{lang.translate('About Us')}} </a></li>
<li class="py-1"><a href="/foreign-patients">{{lang.translate('INTERNATIONAL_PATIENTS')}}</a></li>
<li class="py-1"><a href="/Latest-technologies">{{lang.translate('Latest Technologies')}}</a></li>
<li class="py-1"><a href="/offers">{{lang.translate('Offers')}}</a></li> 
<li class="py-1"><a href="/Your-medical-journey-begins-in-the-hospital">{{lang.translate('Medical Journey')}}</a></li>
<li class="py-1"><a href="/online-consultation">{{lang.translate('ONLINE_CONSULTATION')}}</a></li>
{% endif %}