
    <footer id="main-footer" class="px-4 lg:px-0">
        <hr class="container mx-auto my-10 lg" />
        <div class="container mx-auto lg:flex pb-10">
            <div class="w-full pb-6">
                <img src="{{app.CONF.url}}{{app.SystemSetting.logo}}" />
                <p class="pt-2 w-96">.</p>
                <p>Copyright © <a href="#">{{app.SystemSetting.sitename}}</a> 2024. All Rights Reserved.</p>
            </div>
            <div class="lg:flex gap-10 w-full">
                <div class="w-full pb-6">
                    <p class="font-semibold ">{{lang.translate('Services')}}</p>
                    <ul class="pt-4">
                        {% for menu in footer_menu1 %}
                        <li class="pb-1"><a href="{{menu.page.lang_content.prefix}}">{{menu.page.lang_content.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="w-full pb-6">
                    <p class="font-semibold ">{{lang.translate('Useful links')}}</p>
                    <ul class="pt-4">
                    
                        {% for menu in footer_menu2 %}
                        <li class="pb-1"><a href="{{menu.page.lang_content.prefix}}">{{menu.page.lang_content.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="w-full pb-6">
                    <p class="font-semibold ">{{lang.translate('Follow us')}}</p>
                    <ul class="pt-4">
                        {% if app.SystemSetting.facebook_link %}<li class="pb-1 flex gap-2"><i class="fa-facebook-f fab w-6"></i>  <a href="{{app.SystemSetting.facebook_link}}">Facebook</a></li>{% endif %}
                        {% if app.SystemSetting.instagram_link %}<li class="pb-1 flex gap-2"><i class="fa-instagram fab w-6"></i>  <a href="{{app.SystemSetting.instagram_link}}">Instagram</a></li>{% endif %}
                        {% if app.SystemSetting.youtube_link %}<li class="pb-1 flex gap-2"><i class="fa-youtube fab w-6"></i>  <a href="{{app.SystemSetting.youtube_link}}">Youtube</a></li>{% endif %}
                        {% if app.SystemSetting.twitter_link %}<li class="pb-1 flex gap-2"><i class="fa-twitter fab w-6"></i>  <a href="{{app.SystemSetting.twitter_link}}">Twitter</a></li>{% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    