
        <span :set="childs = []"></span>
        <div class="container mx-auto relative lg:block z-10">
            <div class="lg:grid lg:grid-cols-5 custom-scroll lg:overflow-hidden overflow-auto lg:h-64 lg:h-auto md:h-full sm:h-full  flex lg:w-full gap-6 lg:px-10 px-2 py-2 content-center mt-4" style="align-content:baseline" id="switch-cat">
            {% if app.specializations  %}
                {% for item in app.specializations|sort((a, b) => a.content.title <=> b.content.title)  %}
                <div data-childs="{{item.childs}}" class="spec-item lg:block flex border-1  text-center border border-purple-300 cursor-pointer rounded-tl-2xl rounded-br-2xl bg-white   hover:bg-blue-400 lg:px-4 px-2 py-2 lg:pt-6 text-black hover:text-white switch-hover">
                    {% if item.childs|length > 0 %} 
                    <img loading="lazy" width="78" height="78" alt="{{item.content.title}}" src="/stream?image=/uploads/img/specialization-{{item.id}}-dark.webp" class="mx-auto pic-1 lg:w-auto w-10">
                    <img loading="lazy" alt="{{item.content.title}}" src="/stream?image=/uploads/img/specialization-{{item.id}}.webp" class="mx-auto mx-auto pic-2 lg:w-auto w-10">
                    {% else %}
                    <img loading="lazy" width="78" height="78" alt="{{item.content.title}}{{item.id}}" src="/stream?image=/uploads/img/specialization-{{item.id}}-dark.webp" class="mx-auto pic-1 lg:w-auto w-10">
                    <img loading="lazy" alt="{{item.content.title}}{{item.id}}" src="/stream?image=/uploads/img/specialization-{{item.id}}.webp" class="mx-auto mx-auto pic-2 lg:w-auto w-10">
                    {% endif %}
                    <p class="w-full pt-4 px-2 lg:text-lg text-base font-semibold lg:font-bold">{{item.content.title}}</p>
                </div>
                {% endfor %}
            {% endif %}

            </div>
            <div class="w-full block text-center mx-auto lg:mt-0 lg:ml-auto mt-2 ml-2 px-4 ">
                <div class="gap-4 w-full block" id="cat-content">
                    {% for child in app.specializations[0].childs|sort((a, b) => a.content.title <=> b.content.title)  %}
                    <a class="lg:inline-block block lg:mx-2 my-2 py-2 px-4 lightcyan-bg font-semibold purple-color border border-purple-400 rounded-lg" href="{{child.content.prefix}}">{{child.content.title}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
