{% include 'views/front/' ~ template ~ '/includes/head.html.twig' %}
{% include 'views/front/' ~ template ~ '/includes/header.html.twig' %}

<div class="hidden grid-cols-4 grid-cols-3 grid-cols-2 grid-cols-5 md:grid-cols-4 md:grid-cols-3 md:grid-cols-2 md:grid-cols-5  lg:grid-cols-4 lg:grid-cols-3 lg:grid-cols-2 lg:grid-cols-5  "></div>

<div class="container mx-auto flex pt-6 pb-2">
	<div class="w-full">
		<h1 class="text-xl">{{lang.translate('Compare')}}</h1>
	</div>
	<div class="flex-end">
		<div class="flex w-full flex-nowrap">
			<span class="flex-none">{{lang.translate('Home')}}</span>
			<span class="flex-none px-2">
				/
			</span>
			<span class="flex-none">{{lang.translate('Compare')}}</span>
		</div>
	</div>
</div>
<div class="container mx-auto bg-red-600 py-1 mb-2"></div>

{% if items|length > 0 %}

<main class="relative min-h-screen flex flex-col justify-center bg-white overflow-hidden">
	<div
		class="w-full max-w-6xl mx-auto px-4 md:px-6 py-24">

		<!-- Feature Comparison Pricing Table component -->
		<div
			class="max-w-sm mx-auto md:max-w-none grid grid-cols-{{(items|length) + 1}}  md:-mx-6 text-sm" x-data="{ isAnnual: true }">

			<!-- Column with labels -->
			<section
				class="md:contents [&>div:first-child]:pt-10 [&>div:first-child]:rounded-t-2xl [&>div:last-child]:pb-10 [&>div:last-child]:rounded-b-2xl">
				<!-- Pricing toggle -->
				<div class="relative bg-white dark:bg-slate-900 px-6 flex flex-col justify-end">
					<div
						class="pb-5 md:border-b border-slate-200 dark:border-slate-700">
						<!-- Toggle switch -->
						<div class="max-md:text-center">
							{# <div class="inline-flex items-center whitespace-nowrap">
								<div class="text-sm text-slate-500 mr-2 md:max-lg:sr-only">Monthly</div>
								<div class="relative">
									<input type="checkbox" id="toggle" class="peer sr-only" x-model="isAnnual"/>
									<label for="toggle" class="relative flex h-6 w-11 cursor-pointer items-center rounded-full bg-slate-400 px-0.5 outline-slate-400 transition-colors before:h-5 before:w-5 before:rounded-full before:bg-white before:shadow-sm before:transition-transform before:duration-150 peer-checked:bg-indigo-500 peer-checked:before:translate-x-full peer-focus-visible:outline peer-focus-visible:outline-offset-2 peer-focus-visible:outline-gray-400 peer-checked:peer-focus-visible:outline-indigo-500">
										<span class="sr-only">Pay Yearly</span>
									</label>
								</div>
								<div class="text-sm text-slate-500 ml-2">Yearly
									<span class="text-emerald-500">(-20%)</span>
								</div>
							</div> #}
						</div>
					</div>
				</div>
				<!-- # Platform -->
				<div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-1" aria-hidden="true">
					<div class="py-2 text-slate-900 font-medium mt-4">{{lang.translate('Options')}}</div>
				</div>
				<!-- Account Access -->
				<div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-2" aria-hidden="true">
					<div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">Colors</div>
				</div>
				<div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-3" aria-hidden="true">
					<div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">Sizes</div>
				</div>
                
				<div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-4" aria-hidden="true">
					<div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">{{lang.translate('Tax')}}</div>
				</div>
				<div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-5" aria-hidden="true">
					<div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">{{lang.translate('Vat')}}</div>
				</div>
				<!-- # Information -->
				<div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-6" aria-hidden="true">
					<div class="py-2 text-slate-900 font-medium mt-4">{{lang.translate('Information')}}</div>
				</div>
				<!-- Information -->
				<div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-7" aria-hidden="true">
					<div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">{{lang.translate('SKU')}}</div>
				</div>
				<div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-8" aria-hidden="true">
					<div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">{{lang.translate('Unit')}}</div>
				</div>
				<div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-9" aria-hidden="true">
					<div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">{{lang.translate('Weight')}}</div>
				</div>
				<div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-10" aria-hidden="true">
					<div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">{{lang.translate('Dimentions')}}</div>
				</div>
				<!-- # Support -->
				<div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-[13]" aria-hidden="true">
					<div class="py-2 text-slate-900 font-medium mt-4">{{lang.translate('Support')}}</div>
				</div>
				<!-- Custom Connection -->
				<div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-[14]" aria-hidden="true">
					<div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">{{lang.translate('Refundable')}}</div>
				</div>
			</section>
			<!-- End: Column with labels -->
            {% for compareItem in items %}
			<!-- Essential table -->
			<section class="md:contents [&>div:first-child]:pt-10 [&>div:first-child]:rounded-t-2xl [&>div:last-child]:pb-10 [&>div:last-child]:rounded-b-2xl">
				<div class="relative bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end">
					<div class="grow mb-5">
						<div class="font-semibold text-slate-900 dark:text-slate-200 mb-0.5">{{compareItem.item.lang_content.title}}</div>
						<div class="mb-1">
							<span class="text-xl font-medium text-slate-900 dark:text-slate-200">{{app.currency.symbol}}</span>
							<span class="text-3xl font-bold text-slate-900 dark:text-slate-200" >{{app.currency_amount(compareItem.item.price)}}</span>
                            
						<a href="/front_api/delete?type=Compare.delete&params[compare_id]={{compareItem.compare_id}}" class="ajax-link inline-flex justify-center whitespace-nowrap rounded-lg bg-red-600 px-2.5 py-1.5 text-sm font-medium text-white shadow-sm shadow-indigo-950/10 hover:bg-indigo-600 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 dark:focus-visible:ring-slate-600 transition-colors duration-150 group" >
							{{lang.translate('Remove')}}
							<span class="tracking-normal text-red-100 group-hover:translate-x-0.5 transition-transform duration-150 ease-in-out ml-1"> x </span>
						</a>
						</div>
					</div>
					<div class="pb-4 border-b border-slate-200 dark:border-slate-700">
						<a href="/front_api/create?type=Cart.create&params[item_id]={{compareItem.item_id}}&params[qty]=1" class="ajax-link w-full inline-flex justify-center whitespace-nowrap rounded-lg bg-indigo-500 px-2.5 py-1.5 text-sm font-medium text-white shadow-sm shadow-indigo-950/10 hover:bg-indigo-600 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 dark:focus-visible:ring-slate-600 transition-colors duration-150 group" >
							{{lang.translate('Add to cart')}}
							<span class="tracking-normal text-indigo-300 group-hover:translate-x-0.5 transition-transform duration-150 ease-in-out ml-1">-&gt;</span>
						</a>
					</div>
				</div>
				<!-- # Platform -->
				<div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-1">
					<div class="py-2 text-slate-900 font-medium mt-4 md:sr-only">{{lang.translate('Platform')}}</div>
				</div>
				<!-- Account Access -->
				<div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-2">
					<div class="flex items-center h-full border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 dark:text-slate-400">
						<div class="flex gap-2">
                        {% for color in compareItem.item.product_colors %}
                            <span x-bind:class="color == '{{color.value}}' ? 'outline-black outline outline-2' : ''" class=" block  w-6 h-6 rounded-full p-2 " style="background:{{color.value}}"></span>
                        {% endfor %}
                        <span class="md:sr-only">{{lang.translate('Colors')}}</span> </div>
					</div>
				</div>
                
				<div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-3">
					<div class="flex items-center h-full border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 dark:text-slate-400">
						
						<div class="flex gap-4">
                        {% for size in compareItem.item.product_sizes %}
                            <span x-bind:class="size == '{{size.value}}' ? 'outline outline-2' : ''" class=" " >{{size.value}}</span>
                        {% endfor %} <span class="md:sr-only">{{lang.translate('Sizes')}}</span> </div>
					</div>
				</div>
                
				<div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-4">
					<div class="flex items-center h-full border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 dark:text-slate-400">
						
						<span class="flex gap-4">
                            {{compareItem.item.product_fields.tax_amount}}{{compareItem.item.product_fields.tax_type == 'percent' ? '%' : app.currency.symbol}}
							<span class="md:sr-only">{{lang.translate('Tax')}}</span>
					</div>
				</div>
                
				<div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-5">
					<div class="flex items-center h-full border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 dark:text-slate-400">
						
						<span class="flex gap-4">
                            {{compareItem.item.product_fields.vat_amount}}{{compareItem.item.product_fields.vat_type == 'percent' ? '%' : app.currency.symbol}}
							<span class="md:sr-only">{{lang.translate('Vat')}}</span>
					</div>
				</div>
                
				<!-- # Features -->
				<div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-6">
					<div class="py-2 text-slate-900 font-medium mt-4 md:sr-only">{{lang.translate('Information')}}</div>
				</div>
				<!-- Generate Public URLs -->
				<div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-7">
					<div class="flex items-center h-full border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 dark:text-slate-400">
						<span>
                            {{compareItem.item.product_fields.sku}}
							<span class="md:sr-only">{{lang.translate('SKU')}}</span>
						</span>
					</div>
				</div>
				<div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-8">
					<div class="flex items-center h-full border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 dark:text-slate-400">
						<span>
                            {{compareItem.item.product_fields.unit}}
							<span class="md:sr-only">{{lang.translate('Unit')}}</span>
						</span>
					</div>
				</div>
				<div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-9">
					<div class="flex items-center h-full border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 dark:text-slate-400">
						<span>
                            {{compareItem.item.product_fields.weight}}
							<span class="md:sr-only">{{lang.translate('Weight')}}</span>
						</span>
					</div>
				</div>
				<div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-10">
					<div class="flex items-center border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 max-md:sr-only">
                        {{compareItem.item.product_fields.dimentions}} 
						<span>
							<span class="md:sr-only">{{lang.translate('Dimentions')}}</span>
						</span>
					</div>
				</div>
				<!-- # Support -->
				<div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-[13]">
					<div class="py-2 text-slate-900 font-medium mt-4 sr-only">{{lang.translate('Support')}}</div>
				</div>
				<!-- Custom Connection -->
				<div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-[14]">
					<div class="flex items-center border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 max-md:sr-only">
                        {% if compareItem.item.product_fields.refundable %}
						<svg class="shrink-0 fill-emerald-500 mr-3" xmlns="http://www.w3.org/2000/svg" width="12" height="9">
							<path d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"/>
						</svg>
                        {% endif %}
					</div>
				</div>
			</section>
			<!-- End: Essential table -->
            {% endfor %}

		</div>
		<!-- End: Feature Comparison Pricing Table component -->

	</div>
</main>

{% else %}
{% set title = lang.translate('No data available') %}
{% set msg = lang.translate('There is no items added yet') %}
<div class="max-w-xl mx-auto"> 
{% include 'views/front/' ~ template ~ '/includes/error.html.twig' %}
</div>
{% endif %}
<!-- Footer -->
{% include 'views/front/' ~ template ~ '/includes/footer.html.twig' %}
{% include 'views/front/' ~ template ~ '/includes/footer_assets.html.twig' %}</body></html>
