<!DOCTYPE html>
<html lang="{{lang_key}}">
<head>
    
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{item.content.seo_title ? item.content.seo_title : (item.content ? item.content.title : 'Quatre for Office Furniture, Obline Ecommerce Store')}}</title>
    <meta name="description" content="{{item.content.seo_desc ? item.content.seo_desc : 'Quatre for Office Furniture, Obline Ecommerce Store.'}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="{{app.request.uri}}">
 
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/uploads/images/favicon.webp">
    <link rel="icon" type="image.webp" sizes="32x32" href="/uploads/images/favicon.webp">
    <link rel="icon" type="image.webp" sizes="16x16" href="/uploads/images/favicon.webp">

    {% include 'views/front/'~ template ~'/includes/head_assets.html.twig' %}

</head>
<body class="p-0 m-0 {{page.lang == 'ar' ? 'rtl' : 'ltr'}}">
