{% include 'views/front/' ~ template ~ '/includes/head.html.twig' %}
{% include 'views/front/' ~ template ~ '/includes/header.html.twig' %}
{% include 'views/front/' ~ template ~ '/blocks/breadcrumb.html.twig' %}


<div class="container mx-auto cart-pg-1">
    
    <div class="w-full flex  pt-6 gap-20">
        <div class="w-full pb-6">
            <form class="action ajax-form w-full" action="{{app.CONF.url}}cart/update" method="POST" id="cart-form">

                <input type="hidden" value="Cart.update" name="type" />
                
                {% for cart in items %}

                {% include "views/front/"~ app.setting.template ~"/blocks/gray_cart_block.html.twig" %}
                {# {% include "views/front/"~ app.setting.template ~"/blocks/cart_block.html.twig" %} #}
    
                <hr class="my-4" />

                {% endfor %}
                <button class="block text-center font-bold px-4 py-3 bg-red-600 text-white" >{{lang.translate('Update')}}</button>

            </form>
                    
        </div>
        <div class="w-96 border-1 border border-gray-800 p-6">
            <h4 class="text-xl">{{lang.translate('Order Summary')}}</h4>
            <hr class="my-4" />
            <div class="w-full flex py-2">
                <div class="w-full ">{{lang.translate('Price')}} </div> <span class="py-1  text-lg">{{app.currency.symbol}}{{app.currency_amount(price)}}</span>
            </div>
            <div class="w-full flex py-2">
                <div class="w-full ">{{lang.translate('Discount')}} </div> <span class="py-1  text-lg">{{app.currency.symbol}}{{app.currency_amount(discount)}}</span>
            </div>
            <hr class="my-2" />
            <div class="w-full flex py-2">
                <div class="w-full ">{{lang.translate('Total')}} </div> <span class="py-1 font-bold text-lg">{{app.currency.symbol}}{{app.currency_amount(total)}}</span>
            </div>
            <hr class="my-2" />
            <a href="/checkout" class="block text-center font-bold mx-auto px-4 py-3 bg-red-600 text-white" >{{lang.translate('Proceed to checkout')}}</a>

        </div>
    </div>

</div>
    
<!-- Footer -->
{% include 'views/front/' ~ template ~ '/includes/footer.html.twig' %}
{% include 'views/front/' ~ template ~ '/includes/footer_assets.html.twig' %}
</body>
</html>