{% include 'views/front/' ~ template ~ '/includes/head.html.twig' %}
{% include 'views/front/' ~ template ~ '/includes/header.html.twig' %}


<div class="container mx-auto flex pt-6 pb-2">
    <div class="w-full">
        <h1 class="text-xl">{{lang.translate('Checkout')}}</h1>
    </div>
    <div class="flex-end">
        <div class="flex w-full flex-nowrap">
            <span class="flex-none">{{lang.translate('Home')}}</span>
            <span class="flex-none px-2"> / </span>
            <span class="flex-none">{{lang.translate('Checkout')}}</span>
        </div>
    </div>
</div>
<div class="container mx-auto bg-red-600 py-1 my-2"></div>

<div class="container mx-auto mt-6">
    
        <div class="w-full pb-6">
            {% set totalTax = 0 %}
            
                <div class="w-full py-6">
                    {% if items|length %}
                        <div class="w-full flex gap-12 py-6">
                        <span class="w-96  px-2 text-center">#</span>
                        <span class="w-full">{{lang.translate('Product')}}</span>
                        <span class="w-full">{{lang.translate('subtotal')}}</span>
                        <span class="w-full">{{lang.translate('Quantity')}}</span>
                        <span class="w-full">{{lang.translate('Tax')}}</span>
                        <span class="w-full">{{lang.translate('total price')}}</span>
                        </div>
                        {% for cartItem in items %}
                        {% set totalTax =  totalTax + (cartItem.item.tax_amount() * cartItem.qty) %}
                        <div class="w-full flex gap-10 py-2">
                            <img class="rounded-full border-1 border" src="/app/image.php?w=80&h=80&src={{cartItem.item.picture}}" />
                            <p class="w-full text-xl pt-4"> <a href="/{{cartItem.item.lang_content.prefix}}">{{cartItem.item.lang_content.title}}</a></p>
                            <p class="w-full text-gray-600 pt-4">{{app.currency.symbol}}{{app.currency_amount(cartItem.item.price * cartItem.qty)}} </p>
                            <p class="w-full text-gray-600 pt-4"> {{cartItem.qty}}</p>
                            <p class="w-full text-gray-600 pt-4">{{app.currency.symbol}}{{app.currency_amount(cartItem.item.tax_amount() * cartItem.qty) }}</p>
                            <p class="w-full text-gray-600 pt-4"> {{app.currency.symbol}}{{app.currency_amount((cartItem.item.price * cartItem.qty) + (cartItem.item.tax_amount() * cartItem.qty))}} </p>
                        </div>
                        <hr style="opacity:0.1" />
                        {% endfor %}
                    {% endif %}
                </div>
                    
        </div>
    <div class="w-full lg:flex   pt-6 gap-20" x-data="{shippings: {{shipping_list}},activeShipping: {{shipping_list.first().shipping_id}}, indexShipping:0}" >
    
        <div class="w-full pb-6" >
            <form class="action ajax-form w-full" action="{{app.CONF.url}}front_api/create" method="POST" id="checkout-form">
                <input type="hidden" value="Order.create" name="type" />
                <input type="hidden" value="{{subtotal}}" name="params[subtotal]" />
                <input type="hidden" value="{{discount}}" name="params[total_discount]" />
                <input type="hidden" value="{{totalTax}}" name="params[tax_amount]" />

                <input x-model="(Number(shippings[indexShipping].price)) + Number({{totalTax}}) + {{total ?? 0}}" type="hidden" name="params[total_amount]" />
                <input x-model="activeShipping" type="hidden" value="" name="params[field][shipping_id]" />
                <input x-model="shippings[indexShipping].name" type="hidden" value="" name="params[field][shipping_name]" />
                <input x-model="shippings[indexShipping].price" type="hidden" value="" name="params[shipping_amount]" />
                <div class="w-full flex gap gap-10">
                    <label class="w-full ">
                        <span class="block">{{lang.translate('First name')}}</span>
                        <input value="{{app.customer.name}}" required name="params[field][first_name]" class="my-2 w-full px-4 py-2 border border-1" />    
                    </label>
                    <label class="w-full ">
                        <span class="block ">{{lang.translate('Last name')}}</span>
                        <input value="" name="params[field][last_name]" class="my-2 w-full px-4 py-2 border border-1" />    
                    </label>
                </div>
                
                <div class="w-full flex gap gap-10">
                    <label class="w-full ">
                        <span class="block">{{lang.translate('Email')}}</span>
                        <input value="{{app.customer.email}}" required name="params[field][email]" class="my-2 w-full px-4 py-2 border border-1" />    
                    </label>
                    <label class="w-full ">
                        <span class="block ">{{lang.translate('Mobile')}}</span>
                        <input value="{{app.customer.mobile}}" required name="params[field][mobile]" class="my-2 w-full px-4 py-2 border border-1" />    
                    </label>
                </div>

                <div class="w-full flex gap gap-10">
                    <label class="w-full ">
                        <span class="block">{{lang.translate('Address')}}</span>
                        <input value="{{app.customer.field.address}}" required name="params[field][address]" class="my-2 w-full px-4 py-2 border border-1" />    
                    </label>
                </div>
                
                <div class="w-full flex gap gap-10">
                    <label class="w-full ">
                        <span class="block">{{lang.translate('City')}}</span>
                        <input value="{{app.customer.field.city}}" required name="params[field][city]" class="my-2 w-full px-4 py-2 border border-1" />    
                    </label>
                    <label class="w-full ">
                        <span class="block ">{{lang.translate('State')}}</span>
                        <input value="{{app.customer.field.state}}" required name="params[field][state]" class="my-2 w-full px-4 py-2 border border-1" />    
                    </label>
                </div>

                <button class="my-4 block text-center font-bold px-4 py-3 bg-red-600 text-white" >{{lang.translate('Send order')}}</button>

            </form>
                    
        </div>
        <div class="w-96 border-1 border border-gray-800 p-6">
            <h4 class="text-xl">{{lang.translate('Order Summary')}}</h4>
            <hr class="my-2" />
            <div class="w-full flex py-2">
                <div class="w-full ">{{lang.translate('subtotal')}} </div> <span class="py-1  text-lg">{{app.currency.symbol}}{{app.currency_amount(subtotal)}}</span>
            </div>
            <div class="w-full flex py-2">
                <div class="w-full ">{{lang.translate('Discount')}} </div> <span class="py-1  text-lg">{{app.currency.symbol}}{{app.currency_amount(discount)}}</span>
            </div>
            <div class="w-full flex py-2">
                <div class="w-full ">
                <p>{{lang.translate('Shipping')}} </p>
                <select x-model="activeShipping" name="params[shipping_id]" @change="activeShipping = $event.target.options[$event.target.selectedIndex].value; indexShipping = $event.target.options[$event.target.selectedIndex].index ">
                {% for ship in shipping_list %} <option value="{{ship.shipping_id}}" >{{ship.name}} </option> {% endfor %}
                </select>
                </div> <span class="py-1 text-lg flex ">{{app.currency.symbol}}<span x-text="Math.round(Number(shippings[indexShipping].price) * {{app.currency_amount(1)}}, 2)">{{app.currency_amount(shipping)}}</span></span>
            </div>
            <div class="w-full flex py-2">
                <div class="w-full ">{{lang.translate('Tax')}} </div> <span class="py-1 text-lg">{{app.currency.symbol}}{{app.currency_amount(totalTax)}}</span>
            </div>
            <hr class="my-2" />
            <div class="w-full flex py-2">
                <div class="w-full ">{{lang.translate('Total')}} </div> <span class="py-1 font-bold text-lg flex">{{app.currency.symbol}}<span x-text="cost(shippings[indexShipping].price)">{{total}}</span> </span>
            </div>
            <hr class="my-2" />

        </div>
    </div>

</div>
    
<!-- Footer -->
<!-- Footer -->
{% include 'views/front/' ~ template ~ '/includes/footer.html.twig' %}
{% include 'views/front/' ~ template ~ '/includes/footer_assets.html.twig' %}

<script>
function cost(shippingCost)
{
    let currencyAmount = {{app.currency_amount(1)}};
    return Math.round((Number(shippingCost * currencyAmount) + Number({{totalTax}} * currencyAmount) + Number() + ({{subtotal ?? 0}} * currencyAmount)) * 100) / 100;
}
</script>
</body>
</html>