{% if app.auth.id > 0 %}
{% include 'views/admin/includes/header.html.twig' %}
<div class="w-full overflow-y-auto overflow-x-hidden px-2" >
    <div class="mb-6">
        <div class="row pt-2">
            <div class="col-md-3">
                <div class="card bg-gradient-danger card-img-holder text-white h-100">
                    <div class="card-body">
                        <img src="/assets/img/circle.png" class="card-img-absolute" alt="circle-image">
                        <h4 class="font-weight-normal mb-3">{{ lang.__('Active bookings') }}</h4>
                        <span class="text-2xl">{{active_order_devices_count}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-gradient-info card-img-holder text-white h-100">
                    <div class="card-body">
                        <img src="/assets/img/circle.png" class="card-img-absolute" alt="circle-image">
                        <h4 class="font-weight-normal mb-3">{{lang.__('Today Bookings')}}  </h4>
                        <span class="text-2xl">{{today_order_devices_count}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-gradient-success card-img-holder text-white h-100">
                    <div class="card-body">
                        <img src="/assets/img/circle.png" class="card-img-absolute" alt="circle-image">
                        <h4 class="font-weight-normal mb-3">{{lang.__('Today Sold products')}}</h4>
                        <span class="text-2xl">{{today_order_products_count ? today_order_products_count : 0}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-gradient-danger card-img-holder text-white h-100">
                    <div class="card-body">
                        <img src="/assets/img/circle.png" class="card-img-absolute" alt="circle-image">
                        <h4 class="font-weight-normal mb-3">{{lang.__('Today Revenue')}}</h4>
                        <span class="text-2xl">{{today_revenue}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full lg:flex gap gap-6 ">
        <div class="card mb-0 w-full">
            <h4 class="p-4 ml-4">{{lang.__('Latest unpaid Bookings')}}</h4>
            <hr />
            <div class="card-body w-full">
                <div class="col-md-12">
                    <div class="table-responsive w-full">
                        <table class="w-full table table-striped table-nowrap custom-table mb-0 datatable">
                            <thead>
                                <tr>
                                    <th class="w-10">ID</th>
                                    <th>{{lang.__('Name')}}</th>
                                    <th>{{lang.__('duration')}}</th>
                                    <th>{{lang.__('Game')}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in latest_unpaid_order_devices %}
                                <tr class="text-center">
                                    <td>
                                        {{item.id}}
                                    </td>
                                    <td>
                                        <a href="/products/calendar" data-bs-toggle="modal" data-bs-target="#leads-details">{{item.device.name}}</a>
                                    </td>
                                    <td>{{item.duration_time}}</td>
                                    <td>{{item.game.name}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-0 w-full">
            <h4 class="p-4 ml-4">{{lang.__('Latest Paid Bookings')}}</h4>
            <hr />
            <div class="card-body w-full">
                <div class="col-md-12">
                    <div class="table-responsive w-full">
                        <table class="w-full table table-striped table-nowrap custom-table mb-0 datatable">
                            <thead>
                                <tr>
                                    <th class="w-10">ID</th>
                                    <th>{{lang.__('Name')}}</th>
                                    <th>{{lang.__('duration')}}</th>
                                    <th>{{lang.__('Game')}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in latest_paid_order_devices %}
                                <tr class="text-center">
                                    <td>
                                        {{item.id}}
                                    </td>
                                    <td>
                                        <a href="/products/calendar" data-bs-toggle="modal" data-bs-target="#leads-details">{{item.device.name}}</a>
                                    </td>
                                    <td>{{item.duration_time}}</td>
                                    <td>{{item.game.name}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card my-10 w-full ">
        <h4 class="p-4 ml-4">{{lang.__('Latest sold products')}}</h4>
        <hr />
        <div class="card-body w-full">
            <div class="col-md-12">
                <div class="table-responsive w-full">
                    <table class="w-full table table-striped table-nowrap custom-table mb-0 datatable">
                        <thead>
                            <tr>
                                <th class="w-10">ID</th>
                                <th>{{lang.__('Name')}}</th>
                                <th>{{lang.__('Price')}}</th>
                                <th>{{lang.__('Date')}}</th>
                                <th>{{lang.__('Invoice')}}</th>
                                <th>{{lang.__('By')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in latest_order_products %}
                            <tr class="text-center">
                                <td>{{item.product.id}}</td>
                                <td>
                                    <a href="/products/edit/{{item.product.id}}">{{item.product.name}}</a>
                                </td>
                                <td class="text-red-500">{{item.product.price}} {{app.currency}}</td>
                                <td>{{item.created_at | date('Y-m-d H:i a')}}</td>
                                <td><a target="_blank" href="/orders/show/{{item.invoice.code}}">{{item.invoice.code}}</a></td>
                                <td>{{item.user.name}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'views/admin/includes/footer.html.twig' %}
{% else %}
{% include 'views/admin/forms/login.html.twig' %}
{% endif %}