<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{app.Settings.sitename}}</title>
    <link href="/dist/css/app.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp|Tajawal|Cairo:wght@300;500;700;900">
    <script type="text/javascript">
    var enable_debug = { { app.Settings.enable_debug ? 1 : '0' } };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body style="direction: {{lang.__('dir')}};" class="{{lang.__('dir')}}">
    <div class="mx-auto w-3/4 py-8">

    	<div class="mx-auto bg-white rounded-lg py-8 px-4 lg:flex ">
    		
    		<div class="w-1/3 ">
    			<div class="w-full flex mb-4">
	    			<span class="block w-10 h-10 pt-2 text-center bg-blue-50">1</span>
	    			<p class="block  mx-4">
		    			<span class="block w-full font-semibold text-base">{{lang.__('Business information')}}</span>
		    			<span class="text-sm  ">information about the branch</span>
	    			</p>
    			</div>
    			<div class="mb-4">
	    			<span class="block w-10 h-8 text-center "><span class="border-l mb-2 mx-auto w-1 h-12 "></span></span>
	    		</div>
    			<div class="w-full flex mb-4">
	    			<span class="block w-10 h-10 pt-2 text-center bg-blue-50">2</span>
	    			<p class="block  mx-4">
		    			<span class="block w-full font-semibold text-base">{{lang.__('Settings')}}</span>
		    			<span class="text-sm  ">important required settings </span>
	    			</p>
    			</div>
    			<div class="mb-4">
	    			<span class="block w-10 h-8 text-center "><span class="border-l mb-2 mx-auto w-1 h-12 "></span></span>
	    		</div>
    			<div class="w-full flex mb-4 text-gray-300">
	    			<span class="block w-10 h-10 pt-2 text-center ">3</span>
	    			<p class="block  mx-4">
		    			<span class="block w-full font-semibold text-base">{{lang.__('Review & confirm')}}</span>
		    			<span class="text-sm  ">Review your information and confirm </span>
	    			</p>
    			</div>
    		</div>
    		<div class="w-2/3">
    			<div class="w-full" id="step3">
    				<p class="text-lg font-semibold">{{lang.__('Review & confirm')}}</p>
    				<p class=" font-normal">Review your information and confirm  </p>
    				<hr class="py-2 mt-4" />


                    <div class="block  w-full">
                    	<div class="mx-auto w-40 flex flex-end items-center gap-4 py-6">
	                        <!-- <button type="button" class="is-button rounded-lg is-button-default !h-12 w-full">Back</button> -->
	                        <button type="submit" class="is-button rounded-lg bg-green-500 text-white h-12 w-full">{{lang.__('Confirm')}}</button>
	                    </div>
                    </div>
    			</div>

    			<div class="w-full" id="step1">
    				<p class="text-lg font-semibold">Business information</p>
    				<p class=" font-normal">information about the branch</p>
    				<hr class="py-2 mt-4" />
	                <div class="relative py-4"><label class="nui-label w-full pb-2 block font-semibold " for="ninja-input-89">Branch name</label>
	                    <div class="group/nui-input relative">
	                        <input id="ninja-input-89" type="text" class="nui-focus border-muted-300 text-muted-600 placeholder:text-muted-300  peer w-full border bg-white font-sans transition-all duration-300 disabled:cursor-not-allowed disabled:opacity-75 px-2 h-10 py-2 text-sm leading-5 pe-4 ps-9 rounded-lg !h-11 !ps-11" placeholder="Ex: Medians PS">
	                    </div>
	                </div>

                    <div class="block  w-full">
                    	<div class="mx-auto w-40 flex flex-end items-center gap-4 py-6">
	                        <!-- <button type="button" class="is-button rounded-lg is-button-default !h-12 w-full">Back</button> -->
	                        <button type="submit" class="is-button rounded-lg bg-purple-800 text-white h-12 w-full">Next</button>
	                    </div>
                    </div>
    			</div>

    			<div class="w-full" id="step1">
    				<p class="text-lg font-semibold">Settings</p>
    				<p class=" font-normal">important required settings</p>
    				<hr class="py-2 mt-4" />
	                <div class="relative py-4">
	                	<label class="nui-label w-full pb-2 block font-semibold " for="ninja-input-89">{{lang.__('Language')}}</label>
	                    <div class="group/nui-input relative">
	                    	<select name="params[settings][lang]" class="select h-10 mt-3 rounded w-full border px-3 text-gray-400 focus:border-blue-100 dark:bg-gray-800 dark:border-gray-600"><option value="english">English</option><option value="arabic">العربية</option></select>
	                    </div>
                    </div>
	                <div class="relative py-4">
	                	<label class="nui-label w-full pb-2 block font-semibold " for="ninja-input-89">{{lang.__('Currency')}}</label>
	                    <div class="group/nui-input relative">
	                    	<input name="params[settings][currency]" type="text" placeholder="{{lang.__('Currency')}}" required="required" class="h-10 mt-3 rounded w-full border px-3 text-gray-400 focus:border-blue-100 dark:bg-gray-800 dark:border-gray-600">
	                    </div>
	                </div>

	                <div class="relative py-4">
	                	<label class="nui-label w-full pb-2 block font-semibold " for="ninja-input-89">{{lang.__('invoices_tax')}}</label>
	                    <div class="group/nui-input relative">
	                    	<input name="params[settings][currency]" type="text" placeholder="{{lang.__('invoices_tax')}}" required="required" class="h-10 mt-3 rounded w-full border px-3 text-gray-400 focus:border-blue-100 dark:bg-gray-800 dark:border-gray-600">
	                    </div>
	                </div>

                    <div class="block  w-full">
                    	<div class="mx-auto w-40 flex flex-end items-center gap-4 py-6">
	                        <!-- <button type="button" class="is-button rounded-lg is-button-default !h-12 w-full">Back</button> -->
	                        <button type="submit" class="is-button rounded-lg bg-purple-800 text-white h-12 w-full">Next</button>
	                    </div>
                    </div>
    			</div>
    		</div>

    	</div>








        <h2 class="mb-6 text-lg font-medium text-slate-600 dark:text-white">Numbered</h2>
        <div class="grid grid-cols-1 gap-6">
            <div class="rounded-lg bg-white p-6 shadow-3xl dark:bg-lightblue dark:shadow-black/10">
                <h5 class="mb-6 text-base font-medium text-slate-600 dark:text-indigo-300">Default</h5>
                <div x-data="{ activeTab: 1}">
                    <div class="border-b border-gray-300 dark:border-white/10 pb-6 flex items-center gap-3">
                        <button type="button" class="flex items-start gap-2" @click="activeTab = 1">
                            <div class="w-10 h-10 rounded-md flex items-center justify-center text-lg bg-gray-300 font-medium bg-indigo-600 text-white" :class="{'bg-indigo-600 text-white': activeTab === 1}">1</div>
                            <div class="text-left">
                                <p class="text-[15px] font-semibold mb-px text-indigo-600" :class="{'text-indigo-600': activeTab === 1, 'text-gray-400': activeTab === 2}">Account Details</p>
                                <p class="text-xs text-gray-400">Setup Account</p>
                            </div>
                        </button>
                        <div class="text-gray-300" :class="{'!text-indigo-600' : activeTab === 2}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentcolor" viewBox="0 0 256 256">
                                <path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path>
                            </svg>
                        </div>
                        <button type="button" class="flex items-start gap-2" @click="activeTab = 2">
                            <div class="w-10 h-10 rounded-md flex items-center justify-center text-lg bg-gray-300 font-medium text-slate-600" :class="{'!bg-indigo-600 text-white': activeTab === 2}">2</div>
                            <div class="text-left">
                                <p class="text-[15px] font-semibold mb-px" :class="{'text-indigo-600': activeTab === 2}">Personal Info</p>
                                <p class="text-xs text-gray-400">Setup Personal Details</p>
                            </div>
                        </button>
                        <div class="text-gray-300" :class="{'!text-indigo-600' : activeTab === 3}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentcolor" viewBox="0 0 256 256">
                                <path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path>
                            </svg>
                        </div>
                        <button type="button" class="flex items-start gap-2" @click="activeTab = 3">
                            <div class="w-10 h-10 rounded-md flex items-center justify-center text-lg bg-gray-300 font-medium text-slate-600" :class="{'!bg-indigo-600 text-white': activeTab === 3}">3</div>
                            <div class="text-left">
                                <p class="text-[15px] font-semibold mb-px" :class="{'text-indigo-600': activeTab === 3}">Social Links</p>
                                <p class="text-xs text-gray-400">Add Link</p>
                            </div>
                        </button>
                    </div>
                    <div class="pt-6 py-4">
                        <template x-if="activeTab === 1">
                            <div>
                                <h4 class="text-[15px] font-medium mb-4">Account Details</h4>
                                <div class="grid grid-cols-1 xl:grid-cols-2 gap-6">
                                    <div>
                                        <label class="text-xs uppercase text-gray-500 dark:text-indigo-300 font-medium mb-2 inline-block">USERNAME</label>
                                        <input type="text" class="form-input" placeholder="Jinsu">
                                    </div>
                                    <div>
                                        <label class="text-xs uppercase text-gray-500 dark:text-indigo-300 font-medium mb-2 inline-block">Email</label>
                                        <input type="email" class="form-input" placeholder="Jinsu@example.com">
                                    </div>
                                    <div>
                                        <label class="text-xs uppercase text-gray-500 dark:text-indigo-300 font-medium mb-2 inline-block">PASSWORD</label>
                                        <input type="password" class="form-input" placeholder="password">
                                    </div>
                                    <div>
                                        <label class="text-xs uppercase text-gray-500 dark:text-indigo-300 font-medium mb-2 inline-block">CONFIRM PASSWORD</label>
                                        <input type="password" class="form-input" placeholder="password">
                                    </div>
                                </div>
                            </div>
                        </template>
                        <div>
                            <h4 class="text-[15px] font-medium mb-4">Account Details</h4>
                            <div class="grid grid-cols-1 xl:grid-cols-2 gap-6">
                                <div>
                                    <label class="text-xs uppercase text-gray-500 dark:text-indigo-300 font-medium mb-2 inline-block">USERNAME</label>
                                    <input type="text" class="form-input" placeholder="Jinsu">
                                </div>
                                <div>
                                    <label class="text-xs uppercase text-gray-500 dark:text-indigo-300 font-medium mb-2 inline-block">Email</label>
                                    <input type="email" class="form-input" placeholder="Jinsu@example.com">
                                </div>
                                <div>
                                    <label class="text-xs uppercase text-gray-500 dark:text-indigo-300 font-medium mb-2 inline-block">PASSWORD</label>
                                    <input type="password" class="form-input" placeholder="password">
                                </div>
                                <div>
                                    <label class="text-xs uppercase text-gray-500 dark:text-indigo-300 font-medium mb-2 inline-block">CONFIRM PASSWORD</label>
                                    <input type="password" class="form-input" placeholder="password">
                                </div>
                            </div>
                        </div>
                        <template x-if="activeTab === 2">
                            <div>
                                <h4 class="text-[15px] font-medium mb-4">Personal Info</h4>
                                <div class="grid grid-cols-1 xl:grid-cols-2 gap-6">
                                    <div>
                                        <label class="text-xs uppercase text-gray-500 dark:text-indigo-300 font-medium mb-2 inline-block">FIRST NAME</label>
                                        <input type="text" class="form-input" placeholder="Jinsu">
                                    </div>
                                    <div>
                                        <label class="text-xs uppercase text-gray-500 dark:text-indigo-300 font-medium mb-2 inline-block">LAST NAME</label>
                                        <input type="email" class="form-input" placeholder="Savan">
                                    </div>
                                    <div>
                                        <label class="text-xs uppercase text-gray-500 dark:text-indigo-300 font-medium mb-2 inline-block">COUNTRY</label>
                                        <select class="form-select">
                                            <option value="">Select Country</option>
                                            <option value="USA">USA</option>
                                            <option value="UK">UK</option>
                                            <option value="France">France</option>
                                            <option value="Australia">Australia</option>
                                            <option value="Spain">Spain</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label class="text-xs uppercase text-gray-500 dark:text-indigo-300 font-medium mb-2 inline-block">LANGUAGE</label>
                                        <select class="form-select">
                                            <option value="">Select Country</option>
                                            <option value="USA">USA</option>
                                            <option value="UK">UK</option>
                                            <option value="France">France</option>
                                            <option value="Australia">Australia</option>
                                            <option value="Spain">Spain</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <template x-if="activeTab === 3">
                            <div>
                                <h4 class="text-[15px] font-medium mb-4">Social Links</h4>
                                <div class="grid grid-cols-1 xl:grid-cols-2 gap-6">
                                    <div>
                                        <label class="text-xs uppercase text-gray-500 dark:text-indigo-300 font-medium mb-2 inline-block">TWITTER</label>
                                        <input type="text" class="form-input" placeholder="https://twitter.com/">
                                    </div>
                                    <div>
                                        <label class="text-xs uppercase text-gray-500 dark:text-indigo-300 font-medium mb-2 inline-block">FACEBOOK</label>
                                        <input type="email" class="form-input" placeholder="https://facebook.com/">
                                    </div>
                                    <div>
                                        <label class="text-xs uppercase text-gray-500 dark:text-indigo-300 font-medium mb-2 inline-block">GOOGLE+</label>
                                        <input type="email" class="form-input" placeholder="https://plus.google.com/">
                                    </div>
                                    <div>
                                        <label class="text-xs uppercase text-gray-500 dark:text-indigo-300 font-medium mb-2 inline-block">LINKEDIN</label>
                                        <input type="email" class="form-input" placeholder="https://linkedin.com/">
                                    </div>
                                </div>
                            </div>
                        </template>
                        <div class="flex items-center gap-3 justify-between">
                            <button class="btn border-indigo-600 bg-indigo-600 text-white hover:border-indigo-700 dark:disabled:bg-white/10 dark:disabled:border-white/10 disabled:bg-gray-300 disabled:border-gray-300 hover:bg-indigo-700" :disabled="activeTab === 1" @click="activeTab--" disabled="disabled">BacK</button>
                            <button class="btn border-indigo-600 bg-indigo-600 text-white hover:border-indigo-700 dark:disabled:bg-white/10 dark:disabled:border-white/10 disabled:bg-gray-300 disabled:border-gray-300 hover:bg-indigo-700" :disabled="activeTab === 3" @click="activeTab++">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-6 w-3/4 mx-auto">
        <form action="" method="POST" class="relative py-3 sm:mx-auto sm:max-w-xl  lg:flex gap-4">
            <div class="w-1/3 py-4">
                <div class="my-2 ltablet:after:start-[104px] after:border-muted-300  relative flex items-center gap-4 after:absolute after:start-[8px] after:top-3 after:h-full after:w-px after:border-e-2 after:content-[''] lg:after:start-[104px] [&amp;:not(:first-child)]:pt-3">
                    <div class=" relative z-10 h-4 w-4 shrink-0 rounded-full bg-white">
                        <div class="h-4 w-4 rounded-full border-2 border-purple-800 bg-purple-500 text-purple-500"></div>
                    </div>
                    <div class="border-muted-200  relative w-full border bg-white transition-all duration-300 rounded-md p-4">
                        <div class="flex w-full items-center gap-4">
                            <div class="h-2 w-2 shrink-0 rounded-full bg-purple-500"></div>
                            <div>
                                <a class="font-semibold" href="javascript:;">Store information</a>
                                <p><small>required</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-2 ltablet:after:start-[104px] after:border-muted-300  relative flex items-center gap-4 after:absolute after:start-[8px] after:top-3 after:h-full after:w-px after:border-e-2 after:content-[''] lg:after:start-[104px] [&amp;:not(:first-child)]:pt-3">
                    <div class=" relative z-10 h-4 w-4 shrink-0 rounded-full bg-white">
                        <div class="h-4 w-4 rounded-full border-2 border-purple-800 bg-purple-500 text-purple-500"></div>
                    </div>
                    <div class="border-muted-200  relative w-full border bg-white transition-all duration-300 rounded-md p-4">
                        <div class="flex w-full items-center gap-4">
                            <div class="h-2 w-2 shrink-0 rounded-full bg-purple-500"></div>
                            <div>
                                <a class="font-semibold" href="javascript:;">Store information</a>
                                <p><small>optional</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-2 ltablet:after:start-[104px] after:border-muted-300  relative flex items-center gap-4 after:absolute after:start-[8px] after:top-3 after:h-full after:w-px after:border-e-2 after:content-[''] lg:after:start-[104px] [&amp;:not(:first-child)]:pt-3">
                    <div class=" relative z-10 h-4 w-4 shrink-0 rounded-full ">
                        <div class="h-4 w-4 rounded-full border-2 border-gray-800 bg-gray-200 text-gray-500"></div>
                    </div>
                    <div class="border-muted-200  relative w-full border  transition-all duration-300 rounded-md p-4">
                        <div class="flex w-full items-center gap-4">
                            <div class="h-2 w-2 shrink-0 rounded-full bg-purple-500"></div>
                            <div>
                                <a class="font-semibold" href="javascript:;">Store information</a>
                                <p><small>optional</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full  border-muted-200 relative w-full border bg-white transition-all duration-300 rounded-lg relative px-4 py-4 sm:p-10 md:mx-0 ">
                <div class="mx-auto max-w-md">
                    <div class="flex items-center gap-4">
                        <div class=" text-purple-500 flex h-14 w-14 shrink-0 items-center justify-center rounded-full font-sans text-2xl"><svg data-v-cd102a71="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon h-5 w-5" width="1em" height="1em" viewBox="0 0 256 256">
                                <g fill="currentColor">
                                    <path d="M216 48v40H40V48a8 8 0 0 1 8-8h160a8 8 0 0 1 8 8Z" opacity=".2"></path>
                                    <path d="M208 32h-24v-8a8 8 0 0 0-16 0v8H88v-8a8 8 0 0 0-16 0v8H48a16 16 0 0 0-16 16v160a16 16 0 0 0 16 16h160a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16ZM72 48v8a8 8 0 0 0 16 0v-8h80v8a8 8 0 0 0 16 0v-8h24v32H48V48Zm136 160H48V96h160v112Z"></path>
                                </g>
                            </svg></div>
                        <div class="block text-xl font-semibold text-gray-700">
                            <h3 class="font-heading text-lg font-medium leading-normal leading-normal"> Set branch information </h3>
                            <p class="font-sans text-sm font-normal leading-normal leading-normal text-muted-400">Create your first branch.</p>
                        </div>
                    </div>
                    <div class="divide-y divide-gray-200">
                        <div class="grid grid-cols-12 gap-4 py-8">
                            <div class="col-span-12">
                                <div class="relative"><label class="nui-label w-full pb-1 text-[0.825rem]" for="ninja-input-89">Branch name</label>
                                    <div class="group/nui-input relative">
                                        <input id="ninja-input-89" type="text" class="nui-focus border-muted-300 text-muted-600 placeholder:text-muted-300  peer w-full border bg-white font-sans transition-all duration-300 disabled:cursor-not-allowed disabled:opacity-75 px-2 h-10 py-2 text-sm leading-5 pe-4 ps-9 rounded-lg !h-11 !ps-11" placeholder="Ex: Medians PS">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center gap-4 pt-4">
                            <button type="button" class="is-button rounded-lg is-button-default !h-12 w-full">Cancel</button>
                            <button type="submit" class="is-button rounded-lg bg-purple-800 text-white h-12 w-full">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="/dist/js/app.js"></script>
</body>

</html>