
<div class="container mx-auto flex pt-6 pb-2">
    <div class="w-full">
        <h1 class="text-xl">{{page.lang_content.title}}</h1>
    </div>
    <div class="flex-end">
        <div class="flex w-full flex-nowrap">
            <span class="flex-none"><a href="/">{{lang.translate('Home')}}</a></span>
            <span class="flex-none">/</span>
            <span class="flex-none">{{page.lang_content.title}}</span>

        </div>
    </div>
</div>
<div class="container mx-auto bg-red-600 py-1 mb-2"></div>

<div x-data="{gridClass: 'grid-cols-4', page: {{app.params.page ?? 1}}, showFilter: true}">
    <a href="#!" x-on:click="showFilter = !showFilter" class="lg:hidden block" > <img width="30" src="https://static.thenounproject.com/png/345384-200.png" /> </a>
    <div class="container tc-products-style6  mx-auto flex gap-10" >

        <template x-if="showFilter">
        <div id="sidebar-filter" class="w-full lg:w-[25%]" >
            <div class="py-6">
                <div class="relative text-md">
                    <div class="w-48 h-8 ">
                        <div class="w-48 h-8 ">
                            <div class=" text-text-gray-800 text-sm font-medium ">{{lang.translate('Filter')}}</div>
                            <div class="w-3 h-0.5 left-[188px] top-[9px]  bg-text-gray-800"></div>
                            <div class="w-48 h-px left-0 top-[31px]  bg-gray-200"></div>
                        </div>
                    </div>
                    
                    <div class="w-full">
                        <form class="action ajax-form" action="{{app.CONF.url}}front_api" method="POST" id="filter-form">
                            <input type="hidden" x-model="page" data-element="data-content" data-form="filter-form"  name="params[page]" value="{{app.params().page ?? 1 }}"  >

                            <div class="filters">
                                <div class="search-group flex w-full pt-1">
                                    <input name="params[title]" type="text" @change="page = 1, submitFilters(null)" placeholder="{{lang.translate('Search for product')}}" class="form-control">
                                    <button id="page-num" class="search-btn absolute right-4 mt-2"> <i class="la la-search"></i> </button>
                                </div>
                                <div class="category-box mt-3">
                                    <h6 class="fsz-18 fw-bold text-uppercase mb-20"> {{lang.translate('categories')}} </h6>
                                
                                        {% for cat in categories %}
                                        <div x-data="{ maincat{{cat.category_id}} : true, cat{{cat.category_id}} : false }" class="w-full my-2">
                                            <div  class="flex w-full opacity-70 py-1 gap-2">
                                                <a href="/{{cat.lang_content.prefix}}" class="text-base font-semibold w-full">{{cat.lang_content.title}}</a>
                                                {% if cat.childs|length %}
                                                <i x-show="maincat{{cat.category_id}}" x-on:click="maincat{{cat.category_id}} = false" class="fa fa-arrow-up cursor-pointer"></i>
                                                <i x-show="!maincat{{cat.category_id}}" x-on:click="maincat{{cat.category_id}} = true" class="fa fa-arrow-down cursor-pointer"></i>
                                                {% endif %}
                                            </div>
                                            {% if cat.childs|length %}
                                            {% for catChild in cat.childs %}
                                            <template x-if="maincat{{catChild.parent_id}}">
                                                <div x-data="{ cat{{catChild.category_id}}: {{page.category_id}} == {{catChild.category_id}} }" class="opacity-70 text-base text-opacity-80 text-xs">
                                                    <div class=" font-medium  w-full flex py-2">
                                                        <a href="/{{catChild.lang_content.prefix}}" class="w-full">{{catChild.lang_content.title}}</a>
                                                        <label class="w-4 h-4 relative block border-1 border-red-600 bg-white  border cursor-pointer">
                                                            <span x-show="cat{{catChild.category_id}}"  class="z-10 absolute top-[3px] botton-[1px] right-[2px] left-[2px] mx-auto block bg-red-600 w-2 h-2  cursor-pointer"></span>
                                                            <input x-on:click="cat{{catChild.category_id}} = cat{{catChild.category_id}} ? false : true"  data-element="data-content" data-form="filter-form" type="checkbox" class="opacity-0  cursor-pointer" {{catChild.category_id == page.category_id ? 'checked="true"' }} value="{{catChild.category_id}}"  name="params[categories_ids][]" />
                                                        </label>
                                                    </div>
                                                </div>
                                            </template>
                                            {% endfor %}
                                            {% endif %}
                                        </div>

                                        {% endfor %}
                                    </div>
                                    <div class="filter-box mt-10">
                                        <div class="filter-groups">
                                            <div class="filter-group">
                                                <div class="group-title">
                                                    <div class="w-48 h-8 ">
                                                        <div class="w-48 h-8 ">
                                                            <div class=" text-text-gray-800 text-lg font-medium ">{{lang.translate('Brands')}}</div>
                                                            <div class="w-3 h-0.5 left-[188px] top-[9px]  bg-text-gray-800"></div>
                                                            <div class="w-48 h-px left-0 top-[31px]  bg-gray-200"></div>
                                                        </div>
                                                    </div>
                                                    <span class="arrow"> <i class="la la-angle-up"></i> </span>
                                                </div>
                                                <div class="group-body">
                                                    <div class="scroll-cont">
                                                        <div class="check-group check-brands">
                                                        {% for productBrand in page.brands() %}
                                                            <div class="form-check">
                                                                <label class="form-check-label" for="brand{{loop.index}}">
                                                                <input data-element="data-content" data-form="filter-form" name="params[brands][]" class="form-check-input" type="checkbox" value="{{productBrand.brand_id}}" id="brand{{loop.index}}">
                                                                    <div class="d-inline-flex align-items-center">
                                                                        <img src="{{productBrand.brand.picture}}" alt="" class="brand-img">
                                                                        <span class="color-888 mx-4"> {{productBrand.brand.name}} </span>
                                                                    </div>
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="filter-group">
                                                <div class="group-title">
                                                    <div class="w-48 h-8 ">
                                                        <div class="w-48 h-8 ">
                                                            <div class=" text-text-gray-800 text-lg font-medium ">{{lang.translate('Prices')}}</div>
                                                            <div class="w-3 h-0.5 left-[188px] top-[9px]  bg-text-gray-800"></div>
                                                            <div class="w-48 h-px left-0 top-[31px]  bg-gray-200"></div>
                                                        </div>
                                                    </div>
                                                    <span class="arrow"> <i class="la la-angle-up"></i> </span>
                                                </div>
                                                <div class="group-body ltr">
                                                    <div class="price-card">
                                                        <div class="slider">
                                                            <div class="progress" style="left: 0%; right: 10%;"></div>
                                                        </div>
                                                        <div class="range-input">
                                                            <input data-element="data-content" data-form="filter-form"  type="range" class="range-min" min="0" max="10000" value="0" step="100">
                                                            <input data-element="data-content" data-form="filter-form" type="range" class="range-max" min="0" max="10000" value="9000" step="100">
                                                        </div>
                                                        <div class="row mt-20 align-items-center gx-0">
                                                            <div class="col-9">
                                                                <div class="price-input">
                                                                    <div class="field">
                                                                        <span class="sympol">{{app.currency.symbol}}</span>
                                                                        <input data-element="data-content" data-form="filter-form" name="params[prices][]" type="number" class="input-min" value="0">
                                                                    </div>
                                                                    <div class="separator"></div>
                                                                    <div class="field">
                                                                        <span class="sympol">{{app.currency.symbol}}</span>
                                                                        <input data-element="data-content" data-form="filter-form" name="params[prices][]" type="number" class="input-max" value="9000">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="filter-group">
                                                <div class="group-title">
                                                    <div class="w-48 h-8 ">
                                                        <div class="w-48 h-8 ">
                                                            <div class=" text-text-gray-800 text-lg font-medium ">{{lang.translate('Sizes')}}</div>
                                                            <div class="w-3 h-0.5 left-[188px] top-[9px]  bg-text-gray-800"></div>
                                                            <div class="w-48 h-px left-0 top-[31px]  bg-gray-200"></div>
                                                        </div>
                                                    </div>
                                                    <span class="arrow"> <i class="la la-angle-up"></i> </span>
                                                </div>
                                                <div class="group-body">
                                                    <div class="check-boxes">
                                                        {% for size in page.sizes() %}
                                                        <div class="form-check">
                                                            <input  data-element="data-content" data-form="filter-form" name="params[sizes][]" class="form-check-input" type="checkbox" value="{{size.value}}" id="check{{loop.index}}">
                                                            <label class="form-check-label" for="check{{loop.index}}">
                                                                <span> {{size.value}} </span>
                                                            </label>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="filter-group">
                                                <div class="group-title" >
                                                    <div class="w-48 h-8 ">
                                                        <div class="w-48 h-8 ">
                                                            <div class=" text-text-gray-800 text-lg font-medium ">{{lang.translate('Colors')}}</div>
                                                            <div class="w-3 h-0.5 left-[188px] top-[9px]  bg-text-gray-800"></div>
                                                            <div class="w-48 h-px left-0 top-[31px]  bg-gray-200"></div>
                                                        </div>
                                                    </div>
                                                    <span class="arrow"> <i class="la la-angle-up"></i> </span>
                                                </div>
                                                <div class="group-body">
                                                    <div class="color-boxes">
                                                        {% for color in page.colors() %}
                                                        <div class="form-check">
                                                            <input data-element="data-content" data-form="filter-form" name="params[colors][]" class="form-check-input" type="checkbox" value="{{color.value}}" id="color{{loop.index}}">
                                                            <label class="form-check-label" for="color{{loop.index}}">
                                                                <span class="color-box " style="background-color: {{color.value}}"><i class="la la-check"></i></span>
                                                            </label>
                                                        </div>
                                                        {% endfor %}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" value="load_products" name="type" />
                                <input type="hidden" value="{{page.category_id}}"  name="params[categories_ids][]" />
                                <input data-element="data-content" data-form="filter-form" id="best_sort_filter_form" type="radio" value="best" checked name="params[sort_by]" class="hidden" />
                                <input data-element="data-content" data-form="filter-form" id="new_sort_filter_form" type="radio" value="new" name="params[sort_by]" class="hidden" />
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
        </template>
        <div class="w-full products-content"  >
            <div class="py-6">
                <div class="flex w-full pb-6">
                    <div class="lg:block hidden w-full py-2">
                        <h2 class="text-lg">{{page.lang_content.title}}</h2>
                        <p class="py-2 text-sm">{{page.lang_content.content}}</p>
                    </div>
                    <div class="lg:block hidden view-item w-full flex-wrap pt-2">
                        <span class="s-title"> {{lang.translate('View As')}} </span>
                        <span x-on:click="gridClass = 'grid-cols-3'"  class="cursor-pointer v-item grid-btn active"> <i class="la la-grip-horizontal"></i> </span>
                        <span x-on:click="gridClass = 'grid-cols-4'" class="cursor-pointer v-item list-btn"> <i class="la la-th-large"></i> </span>
                    </div>
                    <div class="flex-end">
                        <div class="flex flex-nowrap" x-data="{activeTab: '{{lang.translate('Best sales')}}' }">
                            <label for="best_sort_filter_form" x-on:click="activeTab = '{{lang.translate('Best sales')}}'" href="#" x-bind:class="activeTab == '{{lang.translate('Best sales')}}' ? 'border border-1 border-gray-400 ' : ''" class="rounded-2xl py-2 px-4  flex-none">{{lang.translate('Best sales')}}</label>
                            <label for="new_sort_filter_form" x-on:click="activeTab = '{{lang.translate('New')}}'" href="#" x-bind:class="activeTab == '{{lang.translate('New')}}' ? 'border border-1 border-gray-400 ' : ''" class="rounded-2xl py-2 px-4  flex-none">{{lang.translate('New')}}</label>
                        </div>
                    </div>
                </div>
                
                <div class="products" id="data-content">
                    <img width="50%" class="mx-auto" src="/uploads/img/loader.gif" />
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function submitFilters(append = null)
{
    jQuery('#data-content').html('<img width="50%" class="mx-auto" src="/uploads/img/loader.gif" />');
    setTimeout(function(){
        submitForm('filter-form', 'data-content', append);
    }, 100)
}
addEventListener("load", (event) => {
    submitFilters(null)
});
</script>