{% include 'views/admin/includes/header.html.twig' %}
<div class=" w-full overflow-y-auto">
	<customers_form
	site_url="{{app.CONF.url}}"
	:old_customer="{{ Model | json_encode }}"
	:agents="{{ agents | json_encode }}"
	:sources="{{ sources | json_encode }}"
	:stages="{{ stages | json_encode }}"
	></leads_form>
</div>
{% include 'views/admin/includes/footer.html.twig' %}