{% include 'views/admin/includes/header.html.twig' %}
<div class=" w-full overflow-y-auto h-full">



    <div class="crms-title flex bg-white mb-6 gap gap-6">
        <div class="w-full">
            <h3 class="gap gap-6 flex page-title m-0">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="feather-user"></i>
                </span> 
                <span>{{title}}</span> 
            </h3>
        </div>
        <div class="">
            <ul class="breadcrumb text-right bg-white float-end m-0 ps-0 pe-0 flex gap gap-6">
                <li class="breadcrumb-item"><a href="{{app.CONF.url}}dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">{{title}}</li>
            </ul>
        </div>
        <a href="{{app.CONF.url}}customers/create" class="w-28 px-3 py-2 text-center rounded-lg bg-gradient-primary text-white">{{lang.__('Add new')}} </a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-0">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-nowrap custom-table mb-0 datatable">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="container-checkbox">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                    <th class="w-10">ID</th>
                                    <th>{{lang.__('Name')}}</th>
                                    <th>{{lang.__('Phone')}}</th>
                                    <th>{{lang.__('Email')}}</th>
                                    <th>{{lang.__('actions')}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr class="text-center">
                                    <td class="checkBox">
                                        <label class="container-checkbox">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                    <td>
                                        {{item.id}}
                                    </td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.phone}}</td>
                                    <td>{{item.email}}</td>
                                    <td>
                                        {% if item.can('edit_customer', app) %}
                                        <a href="/customers/edit/{{item.id}}" class="font-bold"> Edit</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'views/admin/includes/footer.html.twig' %}