{% include 'views/includes/header.html.twig' %}
<div class="bg-gray-50">
    <div class="container">
        <!-- END: Top Bar -->
        <div class="grid grid-cols-12 gap-6" style="direction:rtl;">
            <!-- BEGIN: Side Menu -->
            <!-- END: Side Menu -->
            <div class="col-span-12 lg:col-span-9 2xl:col-span-10" style="direction:ltr;">
                <h2 class="intro-y text-lg font-medium mt-10">{{app.Lang.ORDERS}}</h2>
                <div class="w-full  mt-5 block items-center ">
                    <!-- BEGIN: Users Layout -->
                    <section class="relative pb-16  py-2">
                        <div class="w-full mb-12 px-0">
                            <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow bg-white rounded ">
                                <div class="rounded-t mb-0 px-4 py-3 border-0">
                                    <div class="flex flex-wrap items-center">
                                        <div class="relative w-full  max-w-full flex-grow flex-1 ">
                                            <h3 class="font-semibold text-lg text-gray-600">{{app.Lang.MY_ORDERS}}</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="block w-full overflow-x-auto ">
                                    <table class="items-center w-full bg-transparent border-collapse">
                                        <thead>
                                            <tr>
                                                <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-gray-200 text-gray-800 border-pink-700">{{app.Lang.CODE}}</th>
                                                <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-gray-200 text-gray-800 border-pink-700">{{app.Lang.COST}}</th>
                                                <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-gray-200 text-gray-800 border-pink-700">{{app.Lang.ADDRESS}}</th>
                                                <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-gray-200 text-gray-800 border-pink-700">{{app.Lang.PROJECTS}} </th>
                                                <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-gray-200 text-gray-800 border-pink-700">{{app.Lang.STATUS}}</th>
                                                <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-gray-200 text-gray-800 border-pink-700"></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for order in orders %}
                                            <tr>
                                                <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center">
                                                    <img src="https://demos.creative-tim.com/notus-js/assets/img/bootstrap.jpg" class="h-12 w-12 bg-white rounded-full border" alt="...">
                                                    <a href="{{app.CONF.url}}order/{{order.code}}" class="ml-3 font-bold "> {{order.code}} </a></th>
                                                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">{{order.totalCost}} {{app.Setting.currency}}</td>
                                                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                                    {{app.Customer.address}}, {{app.Customer.city}}
                                                </td>
                                                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                                    <div class="flex items-center">
                                                        <span class="mr-3">( {{order.OrderItems | length}} )</span>
                                                        <div class="relative w-full">
                                                            <div class="overflow-hidden h-2 text-xs flex rounded bg-red-200">
                                                                <div style="width: {{  (order.OrderItems | length) * (100 / (order.OrderItems | length)) }}%" class="shadow-none flex flex-col text-center whitespace-nowrap  justify-center bg-red-500"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                                    <i class="fas fa-circle text-orange-500 mr-2"></i>{{order.status}}</td>
                                                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right">
                                                    <a href="#pablo" class="text-blueGray-500 block py-1 px-3" onclick="openDropdown(event,'table-dark-1-dropdown')">
                                                        <i class="fas fa-ellipsis-v"></i></a>
                                                    <div class="hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48" id="table-dark-1-dropdown">
                                                        <a href="#pablo" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Action</a><a href="#pablo" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Another action</a><a href="#pablo" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Something else here</a>
                                                        <div class="h-0 my-2 border border-solid border-blueGray-100"></div>
                                                        <a href="#pablo" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Seprated link</a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                    {% for order in orders %}
                    {% endfor%}
                </div>
            </div>
            {% include 'views/front/customers/sidemenu.html.twig' %}
        </div>
    </div>
</div>
{% include 'views/includes/footer.html.twig' %}