{% include 'views/front/default/includes/header.html.twig' %}
{% include 'views/front/default/includes/navbar.html.twig' %}

<div class="w-full cyan-bg pb-6 pt-2 relative ">
    <div class="w-full overflow-hidden h-full absolute bottom-0 left-0">        
        <img loading="lazy"  alt="{{app.settings['sitename']}}" src="/stream?image=/uploads/img/light-network.webp" class="absolute left-0 top-0 w-full" style="opacity: .3;" />
    </div>
    <div class="container mx-auto relative">
        <h1 class="text-2xl mx-auto w-auto text-center font-bold text-white" >{{lang.translate('BOOKING_PAGE')}}</h1>
    </div>
</div>

    
{% set name = item.field.name|split(' ') %}
{% set firstWord = name[0] %}

<div class="bg-gray-100 relative">
    <img loading="lazy" alt="{{app.Settings['sitename']}}" src="/stream?image=/uploads/img/light-network.webp" class="absolute left-0  w-full " style="top:100px; opacity: .3;" />

    <div class="w-full flex container mx-auto">
        {% if item.id > 0 %}
        <div class="max-w-xl mx-auto py-12 px-4 sm:px-6 lg:px-8 w-full">
            <div class="bg-white overflow-hidden sm:rounded-lg relative ">
                <div class="flex w-full px-4 py-5 sm:px-6 gap gap-3">
                    <div class="w-full py-4">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">
                            {{lang.translate('Thanks')}}  : <a href="/">{{name[0]}} </a>
                        </h3>
                        <p class="mt-1 max-w-2xl text-sm text-gray-500">
                        {{lang.translate('THNKS_MSG')}}
                        </p>
                    </div>
                </div>

                <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                    <dl class="sm:divide-y sm:divide-gray-200">
                    
                        <div class="gap-6 sm:flex sm:items-center sm:justify-between sm:py-4 sm:px-6">
                            <dt class="w-full text-sm font-medium text-gray-500 ">
                                <p>{{lang.translate('Specialization')}}</p>
                                <input disabled value="{{item.field.specialization}}" class=" appearance-none block w-full  text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-first-name" type="text" placeholder="{{lang.translate('ENTER_FULLNAME')}}" name="params[custom_field][name]">
                            </dt>
                        </div>
                        <div class="gap-6 sm:flex sm:items-center sm:justify-between sm:py-4 sm:px-6">
                            <dt class="w-full text-sm font-medium text-gray-500 ">
                                <p>{{lang.translate('Mobile')}}</p>
                                <input disabled value="{{item.field.mobile_key}}***********{{item.field.mobile|slice(8,5)}}" class="appearance-none block w-full  text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-first-name" type="text" placeholder="{{lang.translate('ENTER_FULLNAME')}}" name="params[custom_field][name]">
                            </dt>
                        </div>
                        <div class="gap-6 sm:flex sm:items-center sm:justify-between sm:py-4 sm:px-6">
                            <dt class="w-full text-sm font-medium text-gray-500 ">
                                <p>{{lang.translate('Email')}}</p>
                                <input disabled value="{{item.field.email|slice(0,3)}}***********" class="appearance-none block w-full  text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-first-name" type="text" placeholder="{{lang.translate('ENTER_FULLNAME')}}" name="params[custom_field][name]">
                            </dt>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
        {% else %}

        <div class="max-w-xl mx-auto py-12 px-4 sm:px-6 lg:px-8 w-full">
            <div class="bg-white overflow-hidden sm:rounded-lg relative ">
                <div class="flex w-full px-4 py-5 sm:px-6 gap gap-3">
                    <div class="w-full py-4">
                        <h3 class="text-2xl leading-6 font-medium text-gray-900">
                            {{lang.translate('Thanks')}} 
                        </h3>
                        <p class="mt-1 max-w-2xl text-lg text-gray-500">
                        {{lang.translate('THNKS_MSG')}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <img loading="lazy" src="/stream?image=/uploads/img/together.png" class=" p-10 mx-auto">

    </div>
</div>
{% include 'views/front/default/includes/footer.html.twig' %}