{% include 'views/front/default/includes/header.html.twig' %}
{% include 'views/front/default/includes/navbar.html.twig' %}


    <div class="w-full cyan-bg p-4 lg:py-10 relative mb-10">
        <div class="w-full overflow-hidden h-full absolute bottom-0 left-0">        
            <img loading="lazy" src="/stream?image=/uploads/img/light-network.webp" class="absolute left-0 top-0 w-full" style="opacity: .3;" />
        </div>
        <div class="container mx-auto relative ">
            <h1 class="text-2xl   mx-auto w-72 text-center font-bold text-white lg:pt-20 pt-10" >{{lang.translate('Successful team')}}</h1>
            <div class="mx-auto w-8/12 relative z-10 lg:mb-8 hidden">
                <form action="/search" class="absolute top-0 lg:block hidden left-0 right-0 mx-auto bg-white px-6 pt-2 pb-6 border-1 border border-gray-100 rounded-lg " >
                    <input type="hidden" name="for" value="doctor">
                    <p class="py-4 text-base font-semibold purple-color">{{lang.translate('LOOKING_FOR_DOCTOR')}}</p>
                    <div class="flex w-full gap-3 gap">
                        <input class="border-1 runded border border-1 border-gray-200 w-full text-sm rounded-2xl bg-white px-4 py-2" placeholder="{{lang.translate('DOCTOR_NAME')}}" name="search">
                        <select class="border-1 runded border border-1 border-gray-200 w-full text-sm rounded-2xl bg-white px-4 py-2" placeholder="اختيار الفرع">
                            <option > -- {{lang.translate('specialization')}}</option>
                            {% for spec in specializations %}
                                {% if spec.parent_id == 1 %}
                                <option value="{{spec.id}}" selected>{{spec.content.title}} </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <select class="border-1 runded border border-1 border-gray-200 w-full text-sm rounded-2xl bg-white px-4 py-2" placeholder="اختيار الفرع">
                            <option > -- {{lang.translate('branch')}}</option>
                            <option value="1" selected> {{lang.translate('dokki')}}</option>
                        </select>
                        <button type="submit" class="rounded-lg pt-2 px-4 text-sm purple-bg text-white">{{lang.translate('search')}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="blog-content container mx-auto">

        <div class="cairo mx-auto lg:block hidden pt-10 pb-4   purple-color font-semibold text-2xl mx-auto text-center w-72">
        </div>
        <div class="w-full lg:grid md:grid grid-cols-3 block gap-3 gap px-1">
            {% for item in items %}
            <div style="height:22rem;" class="w-full block-overlay relative   h-auto my-2 rounded-xl overflow-hidden">
                <img src="{{item.picture}}" class="h-full max-w-none rounded-lg w-full h-auto " />  
                <div class="shadow w-full h-full left-0 top-0 absolute z-10 rounder-lg"></div>
                <div class="block-overlay-hover w-full absolute  left-0 bottom-8 hover:bottom-10 px-8 z-20">
                    <div class="bottom-8 relative">
                        <a title="{{item.content.title}}" href="/{{lang.translate('lang') == 'english' ? 'en/' : ''}}{{item.content.prefix}}" class="text-white text-xl font-bold">{{item.content.title}}</a>
                        <p class="text-sm text-white "> {{lang.translate('lang') == 'english' ? item.field.short_name : item.field.short_name_ar}} </p>
                        <p class="text-sm text-white pt-2 gap-3 gap font-semibold">
                            {% if item.content_item.content|raw is not empty %}
                            <a title="{{item.content.title}}" class="py-3 px-4 purple-bg text-white rounded-tl-lg rounded-br-lg" href="/{{lang.translate('lang') == 'english' ? 'en/' : ''}}{{item.content.prefix}}">{{lang.translate('Profile CV')}}</a>
                            {% endif %}
                            <a title="{{lang.translate('BOOK_NOW')}}" class="py-3 px-4 cyan-bg purple-color hover:text-gray-500 mx-2 " href="/{{lang.translate('lang') == 'english' ? 'en/' : ''}}doctor_booking/{{item.id}}">{{lang.translate('BOOK_NOW')}} </a>
                        </p>
                        <p class="text-sm text-white pt-4 ">
                            {{item.content.short|striptags|trim|raw}}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="w-full text-center py-2">
        </div>

    </div>
    

    {% include 'views/front/default/center_block.html.twig' %}
    

    {% include 'views/front/default/services_bottom.html.twig' %}



{% include 'views/front/default/includes/footer.html.twig' %}
