{% include 'views/front/default/includes/header.html.twig' %}
{% include 'views/front/default/includes/navbar.html.twig' %}
    
    <div class="w-full lg:py-20  cyan-bg relative mb-10 ">
        <div class="w-full overflow-hidden h-full cyan-bg absolute top-0 left-0">        
            {# <img loading="lazy" src="/stream?image=/uploads/img/light-network.webp" class="absolute left-0 top-0 w-full" style="opacity: .3;" /> #}
            {# <img loading="lazy" src="/stream?image=/uploads/img/circles-bg.webp" class="absolute left-0 bottom-0 w-full" style="opacity: .3;" /> #}
        </div>
        <div class="container mx-auto relative pt-8">
            <h1 class="text-2xl lg:pb-10  mx-auto  text-center font-bold text-white" >{{item.content_item.title}}</h1>
            <div class="mx-auto w-full relative z-10 mb-8">
                <div class="relative top-0  left-0 right-0 px-1 pt-2 pb-6  " >
                    <div class="lg:flex block w-full  gap-3 gap">
                        <div class="overflow-auto lg:w-8/12 w-full mb-32  bg-white border-1 border border-gray-100 rounded-lg lg:p-10 p-2">
         

                            <img  src="/stream?thumbnail=800&image={{item.picture}}" 
                            srcset="/stream?thumbnail=400&image={{item.picture}} 480w, /stream?thumbnail=800&image={{item.picture}} 1200w" sizes="(max-width: 600px) 480px, 1200px"
                            alt="{{item.content_item.title}}" class="w-full" />
                            {% if item.content_item.content is not empty %}
                            <div id="brief"  class="relative my-6 p-6 lightcyan-bg  rounded-lg overflow-hidden">
                                <img loading="lazy" alt="BG" src="/stream?image=/uploads/img/light-network.webp" class="absolute left-0 top-0 w-full" style="opacity: .3;" />
                                
                            {% if item.content_item.short|raw is not empty %}
                            <div id="brief"  class="relative my-6 p-6 lightcyan-bg  rounded-lg overflow-hidden">
                                <img loading="lazy" alt="BG"  src="/stream?image=/uploads/img/light-network.webp" class="absolute left-0 top-0 w-full" style="opacity: .3;" />
                                
                                <div class="relative">
                                    <span class="block w-full text-lg font-bold pb-2 purple-color">{{lang.translate('summary')}}</span>
                                    <hr class="border-gray-400 my-4" />
                                    {{item.content_item.short | raw}}
                                </div>
                            </div>
                            {% endif %}
                            
                                <div class="relative my-10 text-lg" id="article-content">
                                    <span class="block w-full text-lg font-bold pb-2 purple-color">{{lang.translate('Basic Details')}}</span>
                                    <hr class="border-gray-400 my-4" />
                                    
                                    
                                    {{item.content_item.content | raw}}

                                </div>
                            </div>
                            {% endif %}

                        </div>
                        <div class="w-full lg:w-4/12">
                            <div class="relative border-1 border border-gray-100 text-center bg-white rounded-lg pt-36 pb-6">
                                <img src="/stream?thumbnail=200&image={{item.picture}}" style="top:-100px" class="rounded-full p-1 border-purple-800 border-1 w-56 h-56 mx-auto left-0 right-0 absolute" alt="Doctor" />

                                <h2 class="text-xl pb-2 font-bold purple-color" >{{item.content_item.title}}</h2>
                                <p class="text-lg pb-10 font-bold cyan-color" >{{lang.translate('lang') == 'english' ? item.field.short_name_en : item.field.short_name_ar}}</p>

                                <a class="mx-auto py-3 px-4 cyan-bg purple-color rounded-lg  inline-block font-semibold " href="/doctor_booking/{{item.id}}">{{lang.translate('book_now')}} </a>
                            </div>
                            <br />
                            <br />
                            {% include 'views/front/default/side_offers.html.twig' %}

                            {% include 'views/front/default/side_doctors.html.twig' %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% include 'views/front/default/services_bottom.html.twig' %}


<script>
    jQuery(document).ready(function(){
        var parent = document.getElementById("article-content"),
        h2 = parent.getElementsByTagName("h2"),
        a = h2.length,
        b, link, title,
        c='';
        cLink='';
        for (b = 0; b < a; b += 1) {
            title = $(h2[b]).text();
            link = $(h2[b]).attr('id');
            if (!link) {
                cLink = 'tag-'+(Math.random() * 1000);   
                $(h2[b]).attr('id', cLink)
            }


            
            c += link ? '<p><a href="#'+link+'">'+title+'</a></p>' : '<p><a href="#'+cLink+'">'+title+'</a></p>';
        }
        jQuery('#content-table').html(c)        


    })
</script>
{% include 'views/front/default/includes/footer.html.twig' %}