{% include 'views/front/default/includes/header.html.twig' %}


<div class="w-full cyan-bg pb-6 pt-24 relative ">
	<div class="w-full overflow-hidden h-full absolute bottom-0 left-0">
		<img loading="lazy" alt="{{app.settings['sitename']}}" src="/stream?image=/uploads/img/light-network.webp" class="absolute left-0 top-0 w-full" style="opacity: .3;"/>
	</div>
	<div class="container mx-auto relative pt-4">
		<h1 class="text-2xl mx-auto w-auto text-center font-bold text-white">{{lang.translate('Forum')}}</h1>
	</div>
</div>


<div class="w-full bg-gray-100 mx-auto py-4 ">
	<div class="container lg:flex gap-10  mx-auto  ">

        <div class="w-full flex gap-4 pt-3">
            <p class=" lg:py-2 flex gap-2 font-normal  font-bold cyan-color text-sm">
            <a class="font-bold cyan-color" href="/">{{lang.translate('homepage')}}  </a> | 
            <a class="font-bold cyan-color" href="/forum">{{lang.translate('Forum')}} </a> | <span class="font-bold purple-color truncate">{{item.title}}</span></p>
        </div>
		<div class="lg:w-1/3 text-left">
			<a class="inline-block mx-auto py-3 px-4 purple-bg text-white rounded-lg" href="/new-forum-post">
                <span class="flex gap-4">
                    <img src="/src/front_assets/svg/add-post.svg" class="w-6 inline-block"/>
                    <span class=" ">{{lang.translate('Add New Question')}}</span>
                </span>
			</a>
		</div>
	</div>
</div>


<div class="container mx-auto  pt-10 pb-20 gap-10 lg:flex ">

	<div class="w-full rounded-2xl pt-6 flex-col justify-start items-start gap-10 inline-flex">

		<div class="w-full flex-col justify-start items-start gap-10 inline-flex  p-4  ">
			<div class="w-full flex-col justify-start items-start gap-2.5 flex">
                <div class="w-full flex ">

                    <div class="w-full mt-2 justify-start items-start gap-2.5 inline-flex">
                        <div class="px-2.5 py-1 bg-blue-100 rounded-lg justify-center items-center gap-2.5 flex">
                            <a href="/{{item.category.content.prefix}}" class=" font-normal text-sm leading-none text-gray-800   ">{{item.category.content.title}}</a>
                        </div>
                    </div>
                    <div class="justify-start gap-10 flex ">
                        <div class="flex gap-1 text-sm font-normal relative">
                            <span class="tooltiptext">{{lang.translate('Views')}}</span>
                            <span class="pt-2">{{item.views_sum_times}}</span>
                            <img src="/src/front_assets/svg/views.svg" width="40"/></div>
                        <div class="flex gap-1 text-sm font-normal relative">
                            <span class="tooltiptext">{{lang.translate('Comments')}}</span>
                            <span class="pt-2">{{item ? item.comments|length : 1}}</span>
                            <img src="/src/front_assets/svg/comments.svg" width="40"/></div>
                    </div>
                </div>

                <div class="w-full pt-1 text-xl font-semibold leading-relaxed purple-color hover:text-gray-500">{{item.title}}</div>

			</div>
			<div class="flex w-full">
				<div class="w-full justify-start items-center gap-2 inline-flex">
					<a href="/{{item.doctor.content.prefix}}"  class=" relative flex">
						<img class="w-10 h-10 relative rounded-full" src="{{item.doctor.picture}}"/>
					</a>
					<div class=" justify-between items-center flex">
						<div class="flex-col justify-start items-start inline-flex">
							<div class="justify-start items-center gap-1 inline-flex">
								<a href="/{{item.doctor.content.prefix}}"  class=" text-sm font-semibold text-gray-500">{{item.doctor.content.title}}</a>
							</div>
							<div class=" text-sm  pt-1 font-normal leading-none text-gray-800">{{lang.translate('Answered by')}}</div>
						</div>
					</div>

				</div>
                
			</div>
            <div class="w-full rounded-lg shadow-md p-4 pt-10 ">
                <p>{{item.content}}</p>
            </div>

            <div class="w-full ">

                <h4 class="pt-4 text-lg w-full flex gap-2"><span class="flex-none">{{lang.translate('Comments')}}</span> <hr class="w-full mt-4 border-blue-300" /></h4> 
                
                {% if item.comments|length < 1 %}                
                <div class="w-full rounded-lg shadow-md p-4 pt-10 ">
                    <p>{{ lang.translate('No comments yet')}}</p>
                </div>
                {% else %}                
                {% for comment in item.comments %}
                <div class="w-full rounded-lg shadow-md p-4 mt-10 ">
                    <div class="w-full flex">   
                        <h6 class="w-full">{{lang.translate('Sent by')}} : {{comment.user_name}}</h6>
                        <span class="pt-2 flex-none text-gray-600">{{item.date}} </span>
                    </div>
                    <p>{{ comment.content}}</p>
                </div>
                {% endfor %}                
                {% endif %}                
            </div>

            <div class="w-full ">

                <h4 class="pt-4 text-lg w-full flex gap-2"><span class="flex-none">{{lang.translate('Add comment')}}</span> <hr class="w-full mt-4 border-blue-300" /></h4> 
                <div class=" bg-white overflow-hidden sm:rounded-lg relative ">
                    <form id="comment-form" action="/submit_forum_comment" class="action form py-5 sm:p-0">
                        <input name="params[item_id]" value="{{item.id}}" type="hidden"  />
                        <dl class="sm:divide-y sm:divide-gray-200">
                            <div class="lg:px-0  gap-6 sm:flex sm:items-center sm:justify-between sm:py-4 sm:px-6">
                                <dd class="w-full mt-1  text-gray-900 sm:mt-0 ">
                                    <p>{{lang.translate('Name')}}</p>
                                    <input required class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-first-name" type="text" placeholder="{{lang.translate('ENTER_FULLNAME')}}" name="params[user_name]">
                                </dt>
                                <dd class="w-full mt-1  text-gray-900 sm:mt-0 ">
                                    {# <p>{{lang.translate('Name')}}</p> #}
                                    <p class="">{{lang.translate('يرجي اختيار طريقة استلام الاشعارات عند الرد علي تعليقك')}}</p>
                                    <div class="lg:px-0 text-right sm:px-6">
                                        <div class=" flex  gap gap-5">
                                            <label onclick="(function(){ return jQuery('.whatspp-label').find('img').toggleClass('border-purple-600'); })();return false;" class="relative  whatspp-label inline-flex items-center  cursor-pointer bg-green-600">
                                                <span class="tooltiptext text-sm">WhatsAPP</span>
                                                <input type="checkbox" class="hidden" name="params[whatsapp_contact]" value="whatsapp">
                                                <img loading="lazy" src="/src/front_assets/svg/whatsapp.svg" class="border hover:border-gray-400  p-2" width="50" height="50" alt="whatsapp">
                                            </label>
                                            <label onclick="(function(){ return jQuery('.email-label').find('img').toggleClass('border-purple-600'); })();return false;" class="relative email-label inline-flex items-center cursor-pointer bg-green-600">
                                                <span class="tooltiptext text-sm">{{lang.translate('Email')}}</span>
                                                <input type="checkbox" class="hidden" name="params[email_contact]" value="email">
                                                <img loading="lazy" src="/src/front_assets/svg/mail.svg" class="border hover:border-gray-400  p-2" width="50" height="50" alt="whatsapp">
                                            </label>
                                        </div>
                                    </div>
                                </dt>
                            </div>
                            <div class="lg:px-0  gap-6 sm:flex sm:items-center sm:justify-between sm:py-4 sm:px-6">
                            
                                <dd class="w-full mt-1 text-sm text-gray-900 sm:mt-0 ">
                                    <p>{{lang.translate('Email')}}</p>
                                    <input type="email" required class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-email" type="text" placeholder="{{lang.translate('ENTER_Email')}}" name="params[user_email]">
                                </dt>
                                <dd class="w-full mt-1 text-sm text-gray-900 sm:mt-0 ">
                                    <p>{{lang.translate('Mobile')}}</p>
                                    <div class="flex ltr">
                                        <input type="hidden" name="params[mobile_country]" id="countrieslist-code" value="EG">
                                        <select class="w-20 bg-gray-200 text-gray-700 border border-gray-200 rounded  " name="params[mobile_key]" id="countrieslist"></select>
                                        <input required="" maxlength="11" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4  leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="customer-mobile" type="tel" placeholder="{{lang.translate('Mobile number')}}" name="params[user_phone]">
                                    </div>
                                </dd>
                            </div>
                            <div class="lg:px-0  sm:py-4 sm:px-6">
                            
                                    <p>{{lang.translate('Comment')}}</p>
                                    <div class="py-2 w-full">
                                    <textarea name="params[content]" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></textarea>
                                    </div>
                                </dd>
                            </div>
                        </dl>
                    
                    
                        <div class="lg:px-0 py-3 sm:px-6">
                            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm  font-medium rounded-md text-white cyan-bg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                {{lang.translate('Send')}}
                            </button>
                        </div>
                    </form>

                </div>
            </div>
            
            <div class="w-full ">
            
                <h3>{{lang.translate('Related articles')}}</h3>
                {% for related in similar_items %}
                <div class="w-full flex-col justify-start items-start gap-10 inline-flex bg-gray-100 p-4 rounded-lg shadow-md bg-white">
				<div class=" flex-col justify-start items-start gap-2.5 flex">
					<div class="mt-2 justify-start items-start gap-2.5 inline-flex">
						<div class="px-2.5 py-1 bg-blue-100 rounded-lg justify-center items-center gap-2.5 flex">
							<div class=" font-normal text-sm leading-none">{{item.category.content.title}}</div>
						</div>
					</div>
					<a href="/forum-post/{{item.id}}" class="pt-1 text-lg font-semibold leading-relaxed purple-color hover:text-gray-500">{{item.subject}}</a>
				</div>
				<div class="flex w-full">
					<div class="w-full justify-start items-center gap-2 inline-flex">
						<div class=" relative flex">
							<img class="w-10 h-10 relative rounded-full" src="{{item.doctor.picture}}"/>
						</div>
						<div class=" justify-between items-center flex">
							<div class="flex-col justify-start items-start inline-flex">
								<div class="justify-start items-center gap-1 inline-flex">
									<div class=" text-sm font-semibold text-gray-500">{{item.doctor.content.title}}</div>
								</div>
								<div class=" text-sm  pt-1 font-normal leading-none text-gray-800">{{lang.translate('Answered by')}}</div>
							</div>
						</div>

					</div>
					<div class="justify-start gap-10 flex">
						<div class="flex gap-1 text-sm font-normal relative">
							<span class="tooltiptext">{{lang.translate('Views')}}</span>
							<span class="pt-2">{{item.views_sum_times}}</span>
							<img src="/src/front_assets/svg/views.svg" width="40"/></div>
						<div class="flex gap-1 text-sm font-normal relative">
							<span class="tooltiptext">{{lang.translate('Comments')}}</span>
							<span class="pt-2">{{item.comments|length}}</span>
							<img src="/src/front_assets/svg/comments.svg" width="40"/></div>
					</div>
				</div>
			</div>
                {% endfor %}
            </div>
		</div>

	</div>
	<div style="" class=" z-10 lg:w-1/3 relative px-2">
		<div class="w-full bg-white h-full left-0 relative">

			{% include 'views/front/default/side_offers.html.twig' %}

			{% include 'views/front/default/side_articles.html.twig' %}

			{% include 'views/front/default/side_success_stories.html.twig' %}

			{% set similar = doctors %}
			{% include 'views/front/default/side_doctors.html.twig' %}

		</div>
	</div>
</div>

{% include 'views/front/default/includes/navbar.html.twig' %}

{% include 'views/front/default/includes/footer.html.twig' %}
