
                            {% if similar|length %}
                            <div class="cyan-gradient45 rounded-lg py-2 mt-10 pl-40 pr-6 purple-color font-semibold text-lg  " >
                                <a href="/doctors" class="text-white">{{lang.translate('VIEW_ALL_DOCTORS')}}</a>
                            </div>
                            {% endif %}
                            {% for doctor in similar %}
                            <div class="relative border-1 border border-gray-100 text-center bg-white rounded-lg mt-20 pt-20 pb-6">
                                <img loading="lazy" src="/stream?image={{doctor.picture}}" width="150" height="150" style="top:-60px" class="rounded-full p-1 border-purple-800 border-1 w-32 mx-auto left-0 right-0 absolute" alt="Doctor" />
                                <h2 class="text-lg pb-2 font-bold purple-color" >{{doctor.content.title}}</h2>
                                <p class="text-base pb-10 font-bold cyan-color px-6" >{{lang.translate('lang') == 'english' ? doctor.field.short_name_en : doctor.field.short_name_ar}}</p>
                                <div class=" w-full text-center gap-6">
                                    {% if doctor.content_item.content|raw is not empty %}
                                    <a class="mx-auto py-3 px-4 purple-bg text-white rounded-lg  inline-block " href="/{{doctor.content.prefix}}">{{lang.translate('FULL_BIO')}} </a>
                                    {% endif %}
                                    <a class="mx-auto py-3 px-4 cyan-bg purple-color font-semibold rounded-lg  inline-block " href="/doctor_booking/{{doctor.id}}">{{lang.translate('BOOK_NOW')}} </a>
                                </div>
                            </div>
                            {% endfor %}
