                            {% if blog|length > 0 %}
                            <div class="cyan-gradient45 rounded-lg py-2 w-full   pr-6 purple-color font-semibold text-lg  ">
                                <a class="text-white flex w-full" href="/blog"> 
                                    <span>{{lang.translate('Useful Articles')}}</span>
                                    <span class="mx-4 text-sm">{{lang.translate('readmore')}}  </span>
                                </a>

                            </div>
                            {% endif %}
                            {% for similar_item in blog %}
                            <div class="relative border-1 border border-gray-100 gap-3 bg-white rounded-lg my-6 p-2 flex pt-4 ">
                                <a class="p-1 border-purple-800 border-1 w-40  mt-4 " href="href="/{{similar_item.content.prefix}}""><img loading="lazy" src="/stream?thumbnail=100&image={{similar_item.photo}}" class="rounded-full w-24 h-24 " alt="Doctor" width="88" height="88" /></a>
                                <div class="w-full ">
                                    <h3 class="mb-2"><a class="text-base pb-1 font-bold purple-color" href="/{{similar_item.content.prefix}}">{{similar_item.content.title}} </a></h3>
                                    <p class="text-sm  font-bold cyan-color">{{similar_item.category.content.title}}</p>
                                </div>
                            </div>
                            {% endfor  %}
