{% include 'views/front/default/includes/header.html.twig' %}

    <div class="w-full py-2 cyan-bg relative pt-20">
        <div class="w-full overflow-hidden h-full cyan-bg absolute top-0 left-0">
            {# <img loading="lazy" alt="{{lang.translate('SPECIALIZATIONS')}}" alt="{{app.sitename}}" src="/stream?image=/uploads/img/light-network.webp" class="absolute left-0 top-0 w-full" style="opacity: .3;" /> #}
            {# <img loading="lazy" alt="{{lang.translate('SPECIALIZATIONS')}}" src="/stream?image=/uploads/img/circles-bg.webp" class="absolute left-0 bottom-0 w-full" style="opacity: .3;" /> #}
        </div>
        <div class="container mx-auto relative px-1 ">
            <p class="text-sm lg:pb-2 flex gap-2 font-normal text-gray-600 lg:pt-10">
            <a title="{{lang.translate('homepage')}}" class="text-white" href="/{{lang.translate('lang') == 'english' ? 'en' : ''}}">{{lang.translate('homepage')}} </a> | 
            <span class="text-white">{{lang.translate('SPECIALIZATIONS')}} </span> | <span class="text-white">{{item.content.title}}</span></p>

            <div class="mx-auto w-full relative z-10 mb-8 " >
                <div class="relative top-0  left-0 right-0 px-0 pt-2 pb-6  ">
                    <div class="lg:flex block w-full  gap-3 gap">
                        <div class="lg:w-8/12 w-full bg-white border-1 border border-gray-100 rounded-lg px-4" id="article-content">
                            <h1 class="text-xl purple-color font-bold mb-4">{{item.content.title}}</h1>
                            <hr class="pb-2" />
                            {% if item.author.title %}
                            <p class="lg:px-2 float-left lg:text-base text-xs"> <span>{{lang.translate('author')}} :</span> <a href="/{{lang.translate('lang') == 'english' ? 'en/' : ''}}{{item.author.content.prefix}}" class="font-bold">{{item.author.content.title}}</a> </p>
                            {% endif  %}
                            <p class="lg:text-base text-sm flex gap-2"><span class="hide-mobile">{{lang.translate('released_at')}}:{{item.created_at|date('M d, Y')}}</span> • <span class=" ">{{lang.translate('Updated at')}}: {{item.content.updated_at|date('M d, Y')}}</span> • <span class=" hide-mobile">{{lang.translate('views')}}: {{item.totalviews()}}</span></p>

                            {% if item.childs|length %}
                            <h2 class="text-xl purple-color font-bold mb-4">{{lang.translate('Sub-categories')}}</h1>

                                {% for similar_item in item.childs %}
                                <div class="blog-main-item lg:flex block w-full">
                                    <div class="blog-item-img lg:w-5/12">
                                        <img  src="/stream?image={{similar_item.picture}}" class="rounded-lg w-full py-4 lg:py-6">
                                    </div>
                                    <div class="blog-item-content lg:w-7/12">
                                        <div class="py-2 lg:py-6 lg:pr-6 lg:px-10 px-2">

                                            <a title="{{similar_item.content.title}}" href="/{{lang.translate('lang') == 'english' ? 'en/' : ''}}{{similar_item.content.prefix}}" class="block  font-semibold text-sm cyan-color">{{similar_item.content.updated_at | date('M, d Y')}}</a>
                                            <a title="{{similar_item.content.title}}" href="/{{lang.translate('lang') == 'english' ? 'en/' : ''}}{{similar_item.content.prefix}}" class="lg:py-4 py-2 block font-bold purple-color lg:text-xl md:text-lg text-base">{{similar_item.content.title}}</a>
                                            <p class=" font-semibold text-gray-600 lg:text-base text-sm">{{similar_item.content.content |striptags|slice(0, 100) }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            {% else %}
                            {% set pictureURL = item.picture[-4:] == 'webp' ? '/stream?thumbnail=800&image=' : '/stream?thumbnail=800&image=' %}
                            <img width="800" height="530" src="{{pictureURL}}{{item.picture}}" 
                            {% if item.picture[-4:] != 'webp' %}
                            srcset="/stream?thumbnail=400&image={{item.picture}} 480w, /stream?thumbnail=900&image={{item.picture}} 1200w" sizes="(max-width: 600px) 480px, 1200px"
                            {% endif %}
                             alt="{{item.content.title}}"  />
                            <div class="relative bg-green-100 py-6 px-4 mt-10 ">
                                <span class="block w-full text-lg font-bold pb-2 purple-color"> {{lang.translate('content table')}} </span>
                                <hr class="border-gray-400 my-4" />
                                <div id="content-table"></div>
                            </div>
                            <div class="relative my-10">
                                {% set params = {'item': item, 'lang': lang} %}
                                {{app.renderTemplate(item.content.content, item).render(params)|raw}}
                            </div>
                            {% endif %}
                        </div>
                        <div class="w-full lg:w-4/12" id="app">
                            
                            {% include 'views/front/default/side_specializations.html.twig' %}

                            {% include 'views/front/default/side_similar_items.html.twig' %}
                            
                            {% include 'views/front/default/side_success_stories.html.twig' %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="relative w-full overflow-hidden px-1">
        <img loading="lazy"  alt="{{lang.translate('SPECIALIZATIONS')}}" src="/stream?image=/uploads/img/circles-bg.webp" class="absolute left-0 top-0 w-full" style="opacity: 0.05;" />
        <div class="container mx-auto relative z-10">
            {% include 'views/front/default/side_specs_similar_items.html.twig' %}
        </div>
    </div>



<script type="application/ld+json">
[ 
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "name": "{{lang.translate('Homepage')}}",
      "item": "{{app.CONF.url}}"
    },{
      "@type": "ListItem",
      "position": 2,
      "name": "{{item.content.title}}"
    }]
  }
]
</script>
<script type="application/ld+json">
{{item.content.short|raw}}
</script>

<script type="application/ld+json">
{{item.content.seo_tag|raw}}
</script>

<script type="application/ld+json">
  [ {{item.content.seo_video|raw}} ]
</script>

<script>
    jQuery(document).ready(function(){
        var parent = document.getElementById("article-content"),
        h2 = parent.getElementsByTagName("h2"),
        a = h2.length,
        b, link, title,
        c='';
        cLink='';
        for (b = 0; b < a; b += 1) {
            title = $(h2[b]).text();
            link = $(h2[b]).attr('id');
            if (!link) {
                cLink = 'tag-'+(Math.random() * 1000);   
                $(h2[b]).attr('id', cLink)
            }
            c += link ? '<p><a title="'+title+'" href="#'+link+'">'+title+'</a></p>' : '<p><a title="'+title+'" href="#'+cLink+'">'+title+'</a></p>';
        }
        jQuery('#content-table').html(c)        
    })
</script>
{% include 'views/front/default/includes/navbar.html.twig' %}

{% include 'views/front/default/includes/footer.html.twig' %}
