{% set sub_list = item.content.short|split(',') %}
    <div class="px-2 inline-block list-icon mb-2 relative bg-white lg:flex gap gap-6">
        <div style="vertical-align:top;" class="px-2 inline-block list-icon mb-2 relative bg-white w-full">
            <div class="w-full lg:p-3 pt-10 ">
                <div class="w-full py-2">
                    <h2 class="pb-0 my-1  text-2xl font-semibold purple-color "> {{item.content.title}}</h2>
                </div>
                <div  class="custom-scroll w-full overflow-auto item-content" style="max-height:300px; margin-bottom:30px" >
                    {{item.content.content|raw}}
                </div>
                <img class="show-mobile -mx-3 rounded-2xl " width="600" height="400" src="/stream?thumbnail=600&image={{ item.picture }}" />
                <div class="flex gap-4">
                    
                    {% if lang.translate('lang') == 'english' %}
                        {% if  item.url_en|length > 0 %}
                        <a href="{{item.url_en }}" class=" relative z-10 hover:bg-gray-800 purple-bg py-3 px-4 rounded-lg text-white">{{lang.translate('more_details')}}</a>
                        {% endif %} 
                    {% else %} 
                        {% if  item.url|length > 0 %}
                        <a href="{{item.url }}" class=" relative z-10 hover:bg-gray-800 purple-bg py-3 px-4 rounded-lg text-white">{{lang.translate('more_details')}}</a>
                        {% endif %} 
                    {% endif %}  
                    <ul class="">
                        {% if sub_list|length %}
                        {% for i in sub_list %}
                        {% if i %}
                        <li class="gap gap-4 flex pb-2 mb-2 ">
                            <span class="elementor-icon-list-text"> 
                                {{i}}
                            </span>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="w-full pt-10 ">
        
            <img class="hide-mobile -mx-3 rounded-2xl " width="600" height="400" src="/stream?thumbnail=600&image={{ item.picture }}" />
        </div>
    </div>
    <hr class="container mx-auto" />
<style>
.item-content section.kedit
{
    padding:10px 0;
}
body .list-icon li
{
    margin:0;
}

</style>