{% include 'views/admin/includes/header.html.twig' %}
<div class=" w-full overflow-y-auto h-full">



    <div class="crms-title flex bg-white mb-6 gap gap-6">
        <div class="w-full">
            <h3 class="gap gap-6 flex page-title m-0">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="feather-user"></i>
                </span> 
                <span>{{title}}</span> 
            </h3>
        </div>
        <div class="">
            <ul class="breadcrumb text-right bg-white float-end m-0 ps-0 pe-0 flex gap gap-6">
                <li class="breadcrumb-item"><a href="{{app.CONF.url}}dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">{{title}}</li>
            </ul>
        </div>
        <span @click="viewSide('task')" class="cursor-pointer w-28 px-3 py-2 text-center rounded-lg bg-gradient-primary text-white">{{lang.__('Add new')}} </span>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-0">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-nowrap custom-table mb-0 datatable">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="container-checkbox">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                    <th class="w-10">ID</th>
                                    <th>{{lang.__('Name')}}</th>
                                    <th>Priority</th>
                                    <th>{{lang.__('Time')}}</th>
                                    <th>{{lang.__('duration')}}</th>
                                    <th>Owner</th>
                                    <th>Users</th>
                                    <th>{{lang.__('Status')}}</th>
                                    <th>{{lang.__('actions')}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr class="text-center">
                                    <td class="checkBox">
                                        <label class="container-checkbox">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                    <td>
                                        {{item.id}}
                                    </td>
                                    <td><a  href="javascript:;" @click="viewSide('task').checkRefById({{item.id}})">{{item.name}}</a> </td>
                                    <td>{{item.priority}}</td>
                                    <td>{{item.start()}}</td>
                                    <td>{{item.duration()}}</td>
                                    <td>{{item.Owner.name()}}</td>
                                    <td>{{item.TaskUsers|length}}</td>
                                    <td class="text-center">
                                        <div class="status-toggle">
                                            <input id="status_{{item.id}}" {% if item.status == 'started' %} @click="changeStatus('pending', 'Task', {{item.id}})"  checked {% else %} @click="changeStatus('started', 'Task', {{item.id}})"  {% endif %} class="check" type="checkbox">
                                            <label for="status_{{item.id}}" class="checktoggle checkbox-bg">checkbox</label>
                                        </div>
                                    </td>
                                    <td>
                                        {% if item.can('edit_lead', app) %}
                                        <a href="/tasks/edit/{{item.id}}" class="font-bold"> Edit</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class=" relative modal right fade w-full h-full top-0" id="modal-sidebar" style="position:fixed; background: rgba(0, 0, 0, .4);" v-if="showSide">
    <div class="modal-dialog bg-white relative" role="document">
        <span style="left:-25px" class="cursor-pointer absolute top-4 text-gray-800 float-right text-lg" @click="viewSide('')"><i class="fa fa-close"></i></span>
        <div class="modal-content p-2">
            <div class=" mt-20 relative overflow-y-auto " style="max-height: 80vh;">
                <task_form
                :old_agents="{{ agents | json_encode }}"
                v-if="activeModal == 'task'" 
                ref="task">
                </task_form>       
            </div>         
        </div>
    </div>
</div>
{% include 'views/admin/includes/footer.html.twig' %}