

      <!-- Main player -->


                            <form action="/api/update" method="POST" data-refresh="1" id="add-device-form" class="action py-0 m-auto rounded-lg max-w-xl pb-10">

                                <input name="type"  type="hidden" value="Game.update" > 
                                <input name="params[id]"  type="hidden" value="{{game.id}}" > 

                                <span class="block mb-2" v-text="">{{lang.__('name')}}</span>

                                <input name="params[name]" required="" type="text" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="{{lang.__('game')}}" value="{{ game.name }}"> 

                                <label class="block mt-3">
                                    <span class="block mb-2" v-text="">{{lang.__('category')}}</span>
                                    <select name="params[category]" class="form-checkbox p-2 px-3 w-full text-orange-600 border border-1 border-gray-400 rounded-lg">
                                        {% for type in typesList %}
                                        <option value="{{type.id}}"  {% if game.type == type.id %} selected  {% endif %}>{{type.name}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                
                                
                                <button class="uppercase h-10 mt-3 text-white w-full rounded bg-red-700 hover:bg-red-800">{{lang.__('Update')}}</button>
                            </form>
                        
                            {% if game.devices_count < 1 %}
                            <a data-ajax="true" data-confirm="true" data-request-id="{{game.id}}" data-request-type="Category.delete" data-type="post" href="{{app.CONF.url}}api/delete" class="uppercase block text-center  pb-1 mt-1 text-white w-full rounded text-gray-700 hover:bg-red-800 hover:text-white">{{lang.__('Remove this game')}}</a>
                            {% endif %}


                        <!-- End Main sidebar -->
