<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Description -->
    <meta name="description" content="">
    <meta name="author" content="Themeland">

    <title>{{app.sitename}}</title>

    <!-- Favicon  -->
    <link rel="icon" href="{{app.CONF.url}}front_assets/rocket.png">

    <!-- Style css -->
    <link rel="stylesheet" href="{{app.CONF.url}}assets/front/assets/css/style.css">

    <!-- Responsive css -->
    <link rel="stylesheet" href="{{app.CONF.url}}assets/front/assets/css/responsive.css">

    <!--Core CSS -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp">
    <link rel="stylesheet" type="text/css" href="{{app.CONF.url}}assets/tailwind.min.css">

    <link rel="stylesheet" href="{{app.CONF.url}}assets/alertify/alertify.min.css" />
    <script src="{{app.CONF.url}}assets/alertify/alertify.min.js" ></script>


    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>

    <script type="text/javascript">var AppURL = '{{app.CONF.url}}';</script>


<style>
/* Track */
::-webkit-scrollbar-track {
   --tw-divide-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-divide-opacity));
}

/* Handle */
::-webkit-scrollbar-thumb {
   --tw-divide-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-divide-opacity));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   --tw-divide-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-divide-opacity));
}

</style>

    <script type="text/javascript" src="{{app.CONF.url}}assets/js/jquery-3.5.1.min.js"></script>


    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    
</head>
    