{% include 'views/includes/header.html.twig' %}

    <!--====== Preloader Area Start ======-->
    <div id="preloader">
        <!-- Digimax Preloader -->
        <div id="digimax-preloader" class="digimax-preloader">
            <!-- Preloader Animation -->
            <div class="preloader-animation">
                <!-- Spinner -->
                <div class="spinner"></div>
                <!-- Loader -->
                <div class="loader">
                    <span data-text-preloader="F" class="animated-letters">F</span>
                    <span data-text-preloader="R" class="animated-letters">R</span>
                    <span data-text-preloader="E" class="animated-letters">E</span>
                    <span data-text-preloader="E" class="animated-letters">E</span>
                    <span data-text-preloader="P" class="animated-letters">P</span>
                    <span data-text-preloader="R" class="animated-letters">R</span>
                    <span data-text-preloader="I" class="animated-letters">I</span>
                    <span data-text-preloader="N" class="animated-letters">N</span>
                    <span data-text-preloader="T" class="animated-letters">T</span>
                    <span data-text-preloader="S" class="animated-letters">S</span>
                </div>
                <p class="fw-5 text-center text-uppercase">Loading</p>
            </div>
            <!-- Loader Animation -->
            <div class="loader-animation">
                <div class="row h-100">
                    <!-- Single Loader -->
                    <div class="col-3 single-loader p-0">
                        <div class="loader-bg"></div>
                    </div>
                    <!-- Single Loader -->
                    <div class="col-3 single-loader p-0">
                        <div class="loader-bg"></div>
                    </div>
                    <!-- Single Loader -->
                    <div class="col-3 single-loader p-0">
                        <div class="loader-bg"></div>
                    </div>
                    <!-- Single Loader -->
                    <div class="col-3 single-loader p-0">
                        <div class="loader-bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== Preloader Area End ======-->

    <!--====== Scroll To Top Area Start ======-->
    <div id="scrollUp" title="Scroll To Top">
        <i class="fas fa-arrow-up"></i>
    </div>
    <!--====== Scroll To Top Area End ======-->

    <div class="main overflow-hidden">
        <!-- ***** Header Start ***** -->
        <!-- ***** Header End ***** -->
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white overflow-hidden">
  <div class="pt-16 pb-80 sm:pt-24 sm:pb-40 lg:pt-40 lg:pb-48">
    <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 sm:static">
      <div class="sm:max-w-lg">
        <h1 class="text-4xl font font-extrabold tracking-tight text-gray-900 sm:text-6xl">Save your memories  printed </h1>
        <p class="mt-4 text-xl text-gray-500">You can choose between our designs and pick your favourite one, then you just need to upload your photos and submit your order</p>
      </div>
      <div>
        <div class="mt-10">
          <!-- Decorative image grid -->
          <div aria-hidden="true" class="pointer-events-none lg:absolute lg:inset-y-0 lg:max-w-7xl lg:mx-auto lg:w-full">
            <div class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
              <div class="flex items-center space-x-6 lg:space-x-8">
                <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="w-44 h-64 rounded-lg overflow-hidden sm:opacity-0 lg:opacity-100">
                    <img src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-01.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-02.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                </div>
                <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-03.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-04.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-05.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                </div>
                <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-06.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-07.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <a href="#" class="inline-block text-center bg-indigo-600 border border-transparent rounded-md py-3 px-8 font-medium text-white hover:bg-indigo-700">Get started</a>
        </div>
      </div>
    </div>
  </div>
</div>


        
        <section class=" pb-2 bg-gray-100">
            <div class="container">
                <div class="flex flex-wrap justify-between pt-2 ">
                    <div class=" flex w-1/2 lg:w-auto py-4 wow animate__ animate__fadeInUp animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="flex justify-center items-center bg-white mr-2 text-blue-500 rounded-xl h-12 w-12 sm:h-24 sm:w-24">
                            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path>
                            </svg>
                        </div>
                        <div class="sm:py-2 ml-2 sm:ml-6">
                            <span class="sm:text-2xl font-bold font-heading">+ </span><span class="sm:text-2xl font-bold font-heading count">150</span>
                            <p class="text-xs sm:text-base text-gray-400">Annual Partner</p>
                        </div>
                    </div>
                    <div class="flex w-1/2 lg:w-auto py-4 wow animate__ animate__fadeInUp animated" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="flex justify-center items-center bg-white mr-2 text-blue-500 rounded-xl h-12 w-12 sm:h-24 sm:w-24">
                            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"></path>
                            </svg>
                        </div>
                        <div class="sm:py-2 ml-2 sm:ml-6">
                            <span class="sm:text-2xl font-bold font-heading">+ </span><span class="sm:text-2xl font-bold font-heading count">57</span><span class="sm:text-2xl font-bold font-heading"> k </span>
                            <p class="text-xs sm:text-base text-gray-400">Completed Projects</p>
                        </div>
                    </div>
                    <div class="flex w-1/2 lg:w-auto py-4 wow animate__ animate__fadeInUp animated" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <div class="flex justify-center items-center bg-white mr-2 text-blue-500 rounded-xl h-12 w-12 sm:h-24 sm:w-24">
                            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path>
                            </svg>
                        </div>
                        <div class="sm:py-2 ml-2 sm:ml-6">
                            <span class="sm:text-2xl font-bold font-heading">+ </span><span class="sm:text-2xl font-bold font-heading count">500</span>
                            <p class="text-xs sm:text-base text-gray-400">Happy Customers</p>
                        </div>
                    </div>
                    <div class="flex w-1/2 lg:w-auto py-4 wow animate__ animate__fadeInUp animated" data-wow-delay=".8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                        <div class="flex justify-center items-center bg-white mr-2 text-blue-500 rounded-xl h-12 w-12 sm:h-24 sm:w-24">
                            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z"></path>
                            </svg>
                        </div>
                        <div class="sm:py-2 ml-2 sm:ml-6">
                            <span class="sm:text-2xl font-bold font-heading">+ </span><span class="sm:text-2xl font-bold font-heading count">320</span>
                            <p class="text-xs sm:text-base text-gray-400">Research Work</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- ***** Portfolio Area Start ***** -->
        <section id="portfolio" class="portfolio-area overflow-hidden ptb_100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-7">
                        <!-- Section Heading -->
                        <div class="section-heading text-center">
                            <h2>Start with our items</h2>
                            <p class="d-none d-sm-block mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.</p>
                        </div>
                    </div>
                </div>
                
                <div class="standard-onboarding">
                    <div class="container mb-5">
                        <div class="sm:block lg:grid  grid-cols-4 gap-4">
                            {% for item in ITEMS  %}
                            {% if item.status == 'active'  %}
                            <!--Card-->
                            <div class="text-center border border-gray-400 px-4 mb-4">
                                <img class="light-image w-full h-64" width="400" height="400" src="{{app.CONF.url}}assets/app/img/illustrations/onboarding/set2-{{loop.index}}.svg" alt="">
                                <h3 class="text-lg font-semibold pt-2 pb-4">{{item.title}}</h3>
                                <div class="flex my-2 pb-2">
                                    <div class="text-center w-full">Size : <span class="text-gray-600">{{item.width}} * {{item.height}}</span></div>
                                    <div class="text-center w-full">Cost : <span class="text-red-600">{{item.unit_price}}</span></div>
                                </div>
                                <div class="button-wrap mt-4">
                                    <a href="{{app.CONF.url}}editor?itemId={{item.id}}" class="button bg-purple-800 py-2 px-4 text-white ">{{app.Lang.GET_STARTED}}</a>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center hidden">
                    <a href="#" class="btn btn-bordered mt-4">View More</a>
                </div>
            </div>
        </section>
        <!-- ***** Portfolio Area End ***** -->
        <!--====== Call To Action Area Start ======-->
        <section class="section cta-area bg-overlay ptb_100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                        <!-- Section Heading -->
                        <div class="section-heading text-center m-0">
                            <h2 class="text-white">Looking for the best digital prints ?</h2>
                            <p class="text-white d-none d-sm-block mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.</p>
                            <p class="text-white d-block d-sm-none mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati.</p>
                            <a href="#" class="btn btn-bordered-white mt-4">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== Call To Action Area End ======-->


{% include 'views/includes/footer.html.twig' %}