

      <!-- Main player -->


                            <form action="/api/update" method="POST" data-refresh="1" id="add-device-form" class="action py-0 m-auto rounded-lg max-w-xl pb-10">

                                <input name="type"  type="hidden" value="Category.update" > 
                                <input name="params[id]"  type="hidden" value="{{category.id}}" > 
                                <input name="params[name]" required="" type="text" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="{{lang.__('Category')}}" value="{{ category.name }}"> 

                                <label class="inline-flex items-center mt-3">
                                    <input name="params[status]" type="checkbox" class="form-checkbox h-5 w-5 text-orange-600" {% if category.status %} checked  {% endif %}><span class="ml-2 mx-2 text-gray-700">{{lang.__('Status')}}</span>
                                </label>
                                
                                <button class="uppercase h-10 mt-3 text-white w-full rounded bg-red-700 hover:bg-red-800">{{lang.__('Update')}}</button>
                            </form>
                        
                            <a data-ajax="true" data-confirm="true" data-request-id="{{category.id}}" data-request-type="Category.delete" data-type="post" href="{{app.CONF.url}}api/delete" class="uppercase block text-center  pb-1 mt-1 text-white w-full rounded text-gray-700 hover:bg-red-800 hover:text-white">{{lang.__('Remove this category')}}</a>


                        <!-- End Main sidebar -->
