{% include 'views/admin/includes/header.html.twig' %}
    <!-- main -->
    <main style="" class=" flex-1 overflow-x-hidden overflow-y-auto  ">
        <div class="py-2 mt-1"></div>

        <div class="px-4  py-4 rounded-lg shadow-lg bg-white dark:bg-gray-700 ">
            <h1 class="font-bold text-lg ">{{title}}</h1>
            <hr class="mt-2 pb-6" />
            
            <div id="invoice-page">


                <div class="p-2 lg:px-8 bg-white dark:bg-gray-700 rounded-lg  flex-auto">

                    <form action="/api/create" method="POST" data-refresh="1" id="add-device-form" class="action px-8 py-0 m-auto rounded-lg max-w-xl pb-10">
                        <input name="type"  type="hidden" value="Payment.create" > 
                        <input value="0" name="params[payment][status]" type="hidden">
                        <div class="w-full flex gap gap-2">
                            <label class="w-40 mt-6 ">{{lang.__('name')}}</label>
                            <input name="params[payment][name]" required="" type="text" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" value="{{payment.name}}"> 
                        </div>

                        <div class="w-full flex gap gap-2">
                            <label class="w-40 mt-6  ">{{lang.__('Amount')}}</label>
                            <input required name="params[payment][amount]" type="number" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" value="{{payment.amount}}"> 
                        </div>

                        <div class="w-full flex gap gap-2">
                            <label class="w-40 mt-6  ">{{lang.__('date')}}</label>
                            <input disabled name="params[payment][date]" type="date" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" value="{{payment.date|date('Y-m-d')}}"> 
                        </div>

                        <div class="w-full flex gap gap-2">
                            <label class="w-40 mt-6 ">{{lang.__('invoice_id')}}</label>
                            <input name="params[payment][invoice_id]" type="text" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" value="{{payment.name}}"> 
                        </div>

                        <div class="w-full flex gap gap-2">
                            <label class="w-40 mt-6 ">{{lang.__('notes')}}</label>
                            <textarea name="params[payment][notes]" required="" class="h-40 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="{{lang.__('Notes')}}" >{{payment.notes}}</textarea> 
                        </div>

                        <button class="uppercase h-12 mt-3 text-white w-full rounded bg-red-700 hover:bg-red-800">{{lang.__('Save')}}</button>
                    </form>
                </div>
            </div>

        </div>

    </main>
    
    <!-- end of main -->
    <div id="main-forms-container">
    </div>

{% include 'views/admin/includes/footer.html.twig' %}