
                <div class="p-2 bg-white dark:bg-gray-700 rounded-lg  flex-auto">

                    <form action="/api/update" method="POST" data-refresh="1" id="add-device-form" class="action py-0 m-auto rounded-lg max-w-xl pb-10">
                        <input name="type"  type="hidden" value="Product.update" > 
                        <input value="0" name="params[status]" type="hidden">
                        <input name="params[id]"  type="hidden" value="{{product.id}}" > 
                        <div class="w-full flex gap gap-2">
                            <label class="w-40 mt-6 ">{{lang.__('name')}}</label>
                            <input name="params[name]" required="" type="text" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" value="{{product.name}}"> 
                        </div>

                        <div class="w-full flex gap gap-2">
                            <label class="w-40 mt-6  ">{{lang.__('Price')}}</label>
                            <input name="params[price]" required="" type="number" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" value="{{product.price}}"> 
                        </div>

                        <div class="w-full flex gap gap-2">
                            <label class="w-40 mt-6  ">{{lang.__('Tax')}}</label>
                            <input name="params[tax]" type="number" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" value="{{product.tax}}"> 
                        </div>
                        
                        <div class="w-full flex gap gap-2">
                            <label class="w-40 mt-6 ">{{lang.__('desc')}}</label>
                            <textarea name="params[description]" required="" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="Device description" >{{product.description}}</textarea> 
                        </div>

                        <div class="w-full flex gap gap-2">
                            <label class="w-40 mt-6">{{lang.__('Category')}}</label>

                            <select name="params[type]" required="" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="">
                                <option value="0">Default</option>
                                {% for type in typesList %}
                                <option {% if type.id == product.type %} selected="" {% endif %} value="{{type.id}}">{{type.name}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <label class="inline-flex items-center mt-3">
                            <input name="params[status]" type="checkbox" class="form-checkbox h-5 w-5 text-orange-600" {% if product.status %} checked  {% endif %}><span class="ml-2 text-gray-700  mx-2">{{lang.__('PUBLISH')}}</span>
                        </label>
                        
                        <button class="uppercase h-12 mt-3 text-white w-full rounded bg-red-700 hover:bg-red-800">{{lang.__('Save')}}</button>
                    </form>
                </div>
