
                        <!-- Main player -->

                    <div class="mb-6 p-4 rounded-lg shadow-lg bg-white dark:bg-gray-700 ">

                        <form action="/api/create" method="POST" data-refresh="1" id="add-device-form" class="action  m-auto rounded-lg max-w-xl pb-10">
                            <div class="w-full flex">
                                <h1 class="w-full m-auto max-w-xl text-base mb-10 ">{{lang.__('add device')}}</h1>
                                <span class="cursor-pointer py-1 px-2" @click="showAddSide = false"><i class="fa fa-close"></i></span>
                            </div>
                            <input name="type" type="hidden" value="Device.create" > 
                            <input name="params[device][status]"  type="hidden" value="1" > 
                            <input name="params[device][title]" required="" type="text" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="Device Title"> 

                            <label>{{lang.__('Category')}}</label>
                            <select name="params[device][type]" required="" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="">
                            {% for type in typesList %}
                            <option value="{{type.id}}">{{type.name}}</option>
                            {% endfor %}
                            </select>
                            
                            <button class="uppercase h-12 mt-3 text-white w-full rounded bg-red-700 hover:bg-red-800">{{lang.__('Save')}}</button>
                        </form>

                    </div>

