{% include 'views/admin/includes/header.html.twig' %}
<div class=" w-full overflow-y-auto h-full">
    <div class="w-full">
        <div class="px-2">

            {% if devicesList|length > 0 %}
            <calendar
            ref="calendar"
            :settings="{{app.Settings | json_encode}}"
            :devices="{{devicesList|json_encode}}"
            ></calendar>


<!-- 
            <portal to="sidecart-event-details" class="slotable">
                <div slot-scope="activeItem" >
                    <side_cart  ref="side_cart" :setting="{{app.Settings|json_encode}}" currency="{{app.Settings['currency']}}"></side_cart>
                </div>
            </portal>

            <portal to="completed-event-details" class="slotable">
                <div slot-scope="activeItem" >
                    <calendar_modal :modal="activeItem"></calendar_modal>
                </div>
            </portal>

            <portal to="active-event-details" class="slotable">
                <div slot-scope="activeItem" >
                    <calendar_active_item :modal="activeItem"></calendar_active_item>
                </div>
            </portal>

            <portal to="new-event-details" class="slotable">
                <div slot-scope="activeItem" >
                    <calendar_new_item :modal="activeItem" :games="activeItem && activeItem.device ? activeItem.device.games : []"></calendar_new_item>
                </div>
            </portal>
 -->

            <portal to="event-details" class="slotable">
                <div slot-scope="information" >
                    <slot name="created-card" :event_information="information">

                        <div class="absolute top-4 right-2 flex gap gap-2 font-semibold text-xs">
                            <span v-text="information.start_time"></span>
                            <span v-text="information.end_time"></span>
                        </div>
                        <div  >
                            <span class="w-full block pb-2 text-left" style="direction: ltr;">
                                <img v-if="information.game" :src="information.game.picture" class="rounded-full w-8 h-8 mb-2" />
                                <span class='font-xxs font-semibold text-left w-full' v-text="information.title"></span>
                            </span>

                        </div>

                    </slot>
                </div>
            </portal>

            <portal to="event-popup-form" class="slotable">
                <div slot-scope="information" class="created-event">
                    <slot name="created-card" :event_information="information">
                        <h4 style="margin-bottom: 5px">{{ information.title }}</h4>
                    </slot>
                </div>
            </portal>

            {% elseif typesList|length > 0 %}
            {% include 'views/admin/devices/get_started.html.twig' %}
            {% else %}
            {% include 'views/admin/devices/get_started_types.html.twig' %}
            {% endif %}
        </div>
    </div>
</div>
<div id="main-forms-container"></div>
{% include 'views/admin/includes/footer.html.twig' %}