<div class="card" style="direction:ltr;">
                <form action="/api/create" method="POST" id="start-form" class="w-full ajax-form">
                    <div class="card-body">
                        <div class="cd-horizontal-timeline loaded">
                            <div class="timeline">
                                <div class="events-wrapper">
                                    <div class="events" style="width: 1800px;">
                                        <ol>
                                            <li><a href="#0" @click="setTab('step1')" :class="(activeTab == 'step1') ? 'selected' : ''"  style="left: 5%; z-index: 9">{{lang.__('first Step')}}</a></li>
                                            <li><a href="#0" :class="(activeTab == 'step2') ? 'selected' : ''" style="left: 20%;">{{lang.__('second Step')}}</a></li>
                                            <li><a href="#0" :class="(activeTab == 'step3') ? 'selected' : ''" style="left: 35%;">{{lang.__('third Step')}}</a></li>
                                        </ol>
                                        <span class="filling-line" aria-hidden="true" style="transform: scaleX(0.0802734);"></span>
                                    </div>
                                </div>
                                <ul class="cd-timeline-navigation">
                                    <li><a href="#0" class="prev inactive">Prev</a></li>
                                    <li><a href="#0" class="next">Next</a></li>
                                </ul>
                            </div>
                            <div class="events-content" >
                                <ol    style="direction:rtl;">
                                    <li  :class="(activeTab == 'step1') ? 'selected' : ''">
                                        <div class="m-t-40">
                                            <div action="/api/create" method="POST" data-refresh="1" id="add-device-form" class="action p-8 py-0 m-auto rounded-lg max-w-xl pb-10">
                                                <h1 class="m-auto max-w-xl text-2xl mb-10 text-center">{{lang.__('ADD_NEW_category')}}</h1>
                                                <input name="type" type="hidden" value="Category.create" > 
                                                <input name="params[model]"  type="hidden" value="Medians\Devices\Domain\Device" > 
                                                <input name="params[status]"  type="hidden" value="1" > 
                                                <input name="params[branch_id]"  type="hidden" value="{{app.branch.id}}" > 
                                                <label class="block pt-5">{{lang.__('category')}}</label>
                                                <input name="params[name]" required="" type="text" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="{{lang.__('title')}}" value="Playstation 5"> 
                                            </div>
                                            <div class="w-full  text-center">
                                                <button type="submit"  class="uppercase h-12 w-40 mt-3 text-white mx-auto rounded bg-red-700 hover:bg-red-800">{{lang.__('save')}}</button>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        {{lang.__('Please add your devices first')}}