{% include 'views/admin/includes/header.html.twig' %}
    <!-- main -->
    <main style="" class=" flex-1 overflow-x-hidden overflow-y-auto  ">
        <div class="py-2 mt-1"></div>
        <!-- today tab 1 -->
        <!-- New releases -->
        <div class="px-4 mb-6 py-4 rounded-lg shadow-lg bg-white dark:bg-gray-700 ">
            <div class="w-full flex">
                <h1 class="font-bold text-lg w-full">{{title}}</h1>
                <div class="w- relative" style="z-index:9">
                    <date-picker @change="openPageByDate('{{ app.request.uri }}', $event)" placeholder="{{startdate}} - {{enddate}}" range format="YYYY-MM-DD"></date-picker>
                </div>
                <a href="javascript:;" class="uppercase p-2 mx-2 text-center text-white w-32 rounded bg-gradient-purple hover:bg-red-800" @click="showAddSide = true;">{{lang.__('Add new')}}</a>
            </div>
        </div>
        <div class="flex w-full gap gap-6">
                <div class="w-full">
                    <div class="px-4 mb-6 py-4 rounded-lg shadow-lg bg-white dark:bg-gray-700 ">
                        <table class="table dark:text-gray-400 text-gray-800 border-separate space-y-6 text-sm w-full">
                            <thead class="dark:bg-gray-800 bg-white text-gray-500">
                                <tr>
                                    <th class="p-2 text-default">{{lang.__('Item')}}</th>
                                    <th class="p-2 ">{{lang.__('Qty')}}</th>
                                    <th class="p-2 ">{{lang.__('Type')}}</th>
                                    <th class="p-2 ">{{lang.__('date')}}</th>
                                    <th class="p-2 ">{{lang.__('By')}}</th>
                                    <th class="p-2 ">{{lang.__('Invoice')}}</th>
                                    <th class="p-2 ">{{lang.__('Action')}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for stock in stockList %}
                                <tr class="dark:bg-gray-800 ">
                                    <td class="p-2 text-default border-1 border-t  border-gray-200">
                                        <div class="flex align-items-center ">
                                            <img class="rounded-full h-12 w-12  object-cover" src="{{app.CONF.url}}assets/img/ps.png" alt="unsplash image">
                                            <div class="ml-3 mx-2">
                                                <div class="font-medium">{{stock.product.name}}</div>
                                                <div class="text-gray-500 text-sm">{{stock.product.name}}</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="p-2 font-bold  border-1 border-t  border-gray-200">
                                        {{stock.stock}}
                                    </td>
                                    <td class="p-2 border-1 border-t  border-gray-200">
                                        {{stock.type}}
                                    </td>
                                    <td class="p-2 border-1 border-t  border-gray-200">
                                        {{stock.date}}
                                    </td>
                                    <td class="p-2 border-1 border-t  border-gray-200">
                                        {{stock.user.name}}
                                    </td>
                                    <td class="p-2 border-1 border-t  border-gray-200">
                                        <a target="_blank" href="{{app.CONF.url}}orders/show/{{stock.invoice.code}}">{{lang.__('Invoice')}}</a>
                                    </td>
                                    <td class="p-2  border-1 border-t  border-gray-200">
                                        <!-- <a href="{{app.CONF.url}}stock/{{stock.id}}" class="text-gray-400 hover:text-gray-100  mx-2">
                                            <i class="material-icons-outlined text-base">edit</i>
                                        </a> -->

                                        <a data-ajax="true" data-confirm="true" data-request-id="{{stock.id}}" data-request-type="Stock.delete" data-type="post" href="{{app.CONF.url}}api/delete" class="text-gray-400 hover:text-gray-100  ml-2" title="{{lang.__('Remove')}}"><i class="material-icons-round text-base">delete_outline</i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-3" v-if="showAddSide">

                    <div class="mb-6 p-4 rounded-lg shadow-lg bg-white dark:bg-gray-700 ">

                        <form action="/api/create" method="POST" data-refresh="1" id="add-device-form" class="action  py-0 m-auto rounded-lg max-w-xl pb-10">
                            <div class="w-full flex">
                                <h1 class="w-full m-auto max-w-xl text-base mb-10 ">{{lang.__('Add new')}}</h1>
                                <span class="cursor-pointer py-1 px-2" @click="showAddSide = false"><i class="fa fa-close"></i></span>
                            </div>
                            <input type="hidden" name="type" value="Stock.create" > 
                            <input type="hidden" name="params[type]" value="add" > 

                            <label class="pt-5 block">{{lang.__('Product')}}:</label>
                            <select name="params[product_id]" required="" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="">
                                {% for product in products %}
                                <option value="{{product.id }}">{{product.name}}</option>
                                {% endfor %}
                            </select>

                            <label class="pt-5 block">{{lang.__('Qty')}}:</label>
                            <input name="params[stock]" required="" type="number" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="{{lang.__('Start stock')}}"> 
                            
                            <label class="pt-5 block">{{lang.__('Purchase amount')}}:</label>
                            <input name="params[payment][amount]" type="number" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="{{lang.__('Paid amount')}}"> 
                            
                            <label class="pt-5 block">{{lang.__('Invoice Number')}}:</label>
                            <input name="params[payment][invoice_id]" type="text" class="h-12 mt-3 rounded w-full border px-3 text-gray-700  focus:border-blue-100 dark:bg-gray-800  dark:border-gray-600" placeholder="{{lang.__('Invoice number')}}"> 
                            
                            <button class="uppercase h-12 mt-3 text-white w-full rounded bg-red-700 hover:bg-red-800">{{lang.__('Save')}}</button>
                        </form>
                        
                    </div>

                </div>
            </div>
        </div>
        <!-- END New releases -->
    </main>
    
    <!-- end of main -->
    <div id="main-forms-container"> </div>


{% include 'views/admin/includes/footer.html.twig' %}