                {% for item in products %}
                <div class=" bg-white flex-col justify-start items-start inline-flex hover:text-red-600 ">
                    <div class="h-80 relative overflow-hidden w-full">
                        <img src="/app/image.php?w=600&h=600&src={{item.picture}}" class="transition-all	duration-700 top-0 bottom-0 left-0 right-0 absolute m-auto w-full max-w-none hover:w-[120%]" />
                    </div>
                    <div class=" py-3 flex-col justify-start items-start gap-2 flex w-full">
                        <a href="{{app.CONF.url}}{{item.lang_content.prefix}}" class="self-stretch text-xl font-semibold ">{{item.lang_content.title}}</a>
                        <div class="self-stretch justify-between items-center inline-flex w-full">
                            <div class=" gap-4 flex w-full">
                                <div class="pt-1 text-neutral-400 text-base font-medium line-through leading-normal">{{app.currency.symbol}}{{app.currency_amount(item.old_price)}}</div>
                                <div class="text-neutral-900 text-lg font-medium leading-relaxed">{{app.currency.symbol}}{{app.currency_amount(item.price)}}</div>
                            </div>
                            <div class="w-9 h-9 relative bg-gray-200 rounded-full flex-end text-center relative">
                                <a href="/front_api/create?type=Cart.create&params[item_id]={{item.product_id}}&params[qty]=1" class="ajax-link" ><img src="{{app.CONF.url}}src/front_assets/svg/cart_icon.svg" class="mx-auto my-2" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor  %}
