                
                                        {% for cart in items %}

                <div class="w-full py-2  ">
                    <div class="w-full flex gap gap-2">
                        <a style="width:4rem; height:4rem" href="/{{cart.item.lang_content.prefix}}"><img src="{{cart.item.picture}}"  class="rounded-full"  /></a>
                        <div class="w-full ">
                            <h2 class="text-base p-1"><a href="/{{cart.item.lang_content.prefix}}">{{cart.item.lang_content.title}}</a></h2>
                        </div>
                    </div>
            
                    <div class="w-full flex py-3  gap gap-4">
                        <span class="px-2 font-semibold text-lg ">{{app.currency.symbol}}{{app.currency_amount(cart.item.price)}}</span>
                        {% if cart.color %} 
                        <div class="flex gap gap-4 w-full">
                            <div class="w-full flex gap-6 my-1">
                                <label class="relative cursor-pointer">
                                    <span  class="outline-black outline outline-2 absolute block  w-4 h-4 rounded-lg px-3  py-2" style="background:{{cart.color}}"></span>
                                    <input type="radio" checked="" name="params[cart][{{cart.cart_id}}][color]" value="{{cart.color}}" data-form="sidecart-form" />
                                </label>
                            </div>
                        </div>
                        {% endif %}

                        {% if cart.size %}
                        <div  class="w-full flex gap gap-4">
                            <label class="relative cursor-pointer">
                                <span class="outline outline-2  px-3 py-1 " >{{cart.size}}</span>
                                <input class="opacity-0 absolute" checked="" type="radio" name="params[cart][{{cart.cart_id}}][size]" value="{{cart.size}}" data-form="sidecart-form" />
                            </label>
                        </div>
                        {% endif %}

                    </div>
                    
                    <div class="w-full flex gap-6">
                        <div class="relative flex">
                            <span class="minusQty px-2 cursor-pointer text-xl font-bold">-</span>
                            <input name="params[cart][{{cart.cart_id}}][qty]" value="{{cart.qty}}" min="{{cart.item.product_fields.min_purchase_qty}}" class="text-center bg-gray-200 px-4 py-2 w-20" />
                            <span class="addQty px-2 cursor-pointer text-xl font-bold">+</span>
                        </div>
                        <a href="{{app.CONF.url}}front_api/delete?type=Cart.delete&params[cart_id]={{cart.cart_id}}" data-confirm="{{lang.translate('Are you sure')}}" data-confirm-text="{{lang.translate('Remove this item from cart')}}" rel="nofollow" class="ajax-link font-bold px-4 py-1 text-red-600" >{{lang.translate('Remove')}}</a>
                    </div>
                </div>
                                    <hr class="my-4"/>

                                        {% endfor %} 
