{% include 'views/includes/header.html.twig' %}
<div class="bg-gray-50">
    <div class="container">

        <div class="py-14 px-4 md:px-6 2xl:px-20 2xl:mx-auto">
            <div class="block text-center justify-start item-start space-y-2 flex-col">
                <h1 class="text-3xl dark:text-white lg:text-4xl font-semibold leading-7 lg:leading-9 text-gray-800">Order #{{order.code}}</h1>
                <p class="text-base dark:text-gray-300 font-medium leading-6 text-gray-600">{{ order.created_at | date('F j, Y g:m a') }}</p>
            </div> 
            <div class="mt-10 flex flex-col xl:flex-row jusitfy-center items-stretch w-full xl:space-x-8 space-y-4 md:space-y-6 xl:space-y-0">
                <div class="flex flex-col justify-start items-start w-full space-y-4 md:space-y-6 xl:space-y-8">
                    <div class="flex flex-col justify-start items-start dark:bg-gray-800 bg-gray-50 px-4 py-4 md:py-6 md:p-6 xl:p-8 w-full">
                        <p class="text-lg md:text-xl dark:text-white font-semibold leading-6 xl:leading-5 text-gray-800">{{app.Lang.PROJECTS}}</p>
                        {% for orderItem in order.OrderItems %}
                        <div class="mt-4 md:mt-6 flex flex-col md:flex-row justify-start items-start md:items-center md:space-x-6 xl:space-x-8 w-full">
                            <div class="pb-4 md:pb-8 w-full md:w-40">
                                <img class="w-full hidden md:block" src="{{app.CONF.url}}image?w=200&src={{orderItem.project.ProjectMedia[0].path}}" alt="dress" />
                                <img class="w-full md:hidden" src="https://i.ibb.co/L039qbN/Rectangle-10.png" alt="dress" />
                            </div>
                            <div class="border-b border-gray-200 md:flex-row flex-col flex justify-between items-start w-full pb-8 space-y-4 md:space-y-0">
                                <div class="w-full flex flex-col justify-start items-start space-y-8">
                                    <h3 class="text-xl dark:text-white xl:text-2xl font-semibold leading-6 text-gray-800">{{orderItem.project.title}}</h3>
                                    <div class="flex justify-start items-start flex-col space-y-1 ">
                                        <div class="flex text-sm dark:text-white leading-none text-gray-800">
                                            <p class="text-sm dark:text-white leading-none text-gray-800"><span class="dark:text-gray-400 text-gray-400  mx-2">{{app.Lang.ITEM}}: </span> {{orderItem.project.Item.lang_content.value}}</p>
                                            <!-- <p class="text-sm dark:text-white leading-none text-gray-800 "><span class="dark:text-gray-400 text-gray-400  mx-2 pl-3">{{app.Lang.SIZE}}: </span> Small</p> -->
                                        </div>
                                        <div class="flex text-sm dark:text-white leading-none mt-3 text-gray-800">
                                            <span class="mt-3 mx-2 dark:text-gray-400 text-gray-400">Media: </span> 
                                            {% set mediaItemsArray = orderItem.project.ProjectMedia %}
                                            {% include 'views/front/customers/media_list.html.twig' %}
                                        </div>
                                    </div>
                                </div>
                                <div class="justify-between space-x-8 items-start w-full text-right">
                                    <p class=" text-sm dark:text-white xl:text-sm leading-6 text-gray-800">( {{order.OrderItems | length}} ) <span class="text-sm">{{app.Lang.PROJECTS}}</span> </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="flex justify-center flex-col md:flex-row flex-col items-stretch w-full space-y-4 md:space-y-0 md:space-x-6 xl:space-x-8">
                        <div class="flex flex-col px-4 py-6 md:p-6 xl:p-8 w-full bg-gray-50 dark:bg-gray-800 space-y-6">
                            <h3 class="text-xl dark:text-white font-semibold leading-5 text-gray-800">Summary</h3>
                            <div class="flex justify-center items-center w-full space-y-4 flex-col border-gray-200 border-b pb-4">
                                <div class="flex justify-between w-full">
                                    <p class="text-base dark:text-white leading-4 text-gray-800">Subtotal</p>
                                    <p class="text-base dark:text-gray-300 leading-4 text-gray-600">{{order.totalCost - app.Setting.shipping_fees}}{{app.Setting.currency}}</p>
                                </div>
                                <div class="flex justify-between items-center w-full">
                                    <p class="text-base dark:text-white leading-4 text-gray-800">Shipping</p>
                                    <p class="text-base dark:text-gray-300 leading-4 text-gray-600">{{app.Setting.shipping_fees}}{{app.Setting.currency}}</p>
                                </div>
                            </div>
                            <div class="flex justify-between items-center w-full">
                                <p class="text-base dark:text-white font-semibold leading-4 text-gray-800">Total</p>
                                <p class="text-base dark:text-gray-300 font-semibold leading-4 text-gray-600">{{order.totalCost}}{{app.Setting.currency}}</p>
                            </div>
                        </div>
                        <div class="flex flex-col justify-center px-4 py-6 md:p-6 xl:p-8 w-full bg-gray-50 dark:bg-gray-800 space-y-6">
                            <h3 class="text-xl dark:text-white font-semibold leading-5 text-gray-800">{{app.Lang.SHIPPING}}</h3>
                            <div class="flex justify-between items-start w-full">
                                <div class="flex justify-center items-center space-x-4">
                                    <div class="w-8 h-8">
                                        <img class="w-full h-full" alt="logo" src="https://i.ibb.co/L8KSdNQ/image-3.png" />
                                    </div>
                                    <div class="flex flex-col justify-start items-center">
                                        <p class="text-base leading-6 dark:text-white font-semibold text-gray-800">{{app.Lang.DELIVERY}}<br /><span class="font-normal">{{app.Lang.DELIVERY_EXPECTED_DATE}} </span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full flex justify-center items-center">
                                <button class="hover:bg-black dark:bg-white dark:text-gray-800 dark:hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 py-3 w-96 md:w-full bg-gray-800 text-base font-medium leading-4 text-white">View Carrier Details</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 dark:bg-gray-800 w-full xl:w-96 flex justify-between items-center md:items-start px-4 py-6 md:p-6 xl:p-8 flex-col">
                    <h3 class="text-xl dark:text-white font-semibold leading-5 text-gray-800">{{app.Lang.CUSTOMER}}</h3>
                    <hr class="my-2 border-b border-gray-200" />
                    <div class="flex flex-col md:flex-row xl:flex-col justify-start items-stretch h-full w-full md:space-x-6 lg:space-x-8 xl:space-x-0">
                        <div class="flex flex-col justify-start items-start flex-shrink-0">
                            <div class="flex justify-center w-full md:justify-start items-center space-x-4 py-8 border-b border-gray-200">
                                <img src="https://i.ibb.co/5TSg7f6/Rectangle-18.png" alt="avatar" />
                                <div class="flex justify-start items-start flex-col space-y-2">
                                    <p class="text-base dark:text-white font-semibold leading-4 text-left text-gray-800">{{order.shipping_info.first_name}} {{order.shipping_info.last_name}} </p>
                                    <p class="text-sm dark:text-gray-300 leading-5 text-gray-600">{{order.shipping_info.city}}</p>
                                </div>
                            </div>
    
                            <div class="flex justify-center text-gray-800 dark:text-white md:justify-start items-center space-x-4 py-4 border-b border-gray-200 w-full">
                                
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19 5H5C3.89543 5 3 5.89543 3 7V17C3 18.1046 3.89543 19 5 19H19C20.1046 19 21 18.1046 21 17V7C21 5.89543 20.1046 5 19 5Z" stroke="#1F2937" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M3 7L12 13L21 7" stroke="#1F2937" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                                <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/order-summary-3-svg1dark.svg" alt="email">
                                <p class="cursor-pointer text-sm leading-5 ">{{order.shipping_info.email}}</p>
                            </div>
                        </div>
                        <div class="flex justify-between xl:h-full items-stretch w-full flex-col mt-6 md:mt-0">
                            <div class="flex justify-center md:justify-start xl:flex-col flex-col md:space-x-6 lg:space-x-8 xl:space-x-0 space-y-4 xl:space-y-12 md:space-y-0 md:flex-row items-center md:items-start">
                                <div class="flex justify-center md:justify-start items-center md:items-start flex-col space-y-4 xl:mt-8">
                                    <p class="text-base dark:text-white font-semibold leading-4 text-center md:text-left text-gray-800">Shipping Address</p>
                                    <p class="w-48 lg:w-full dark:text-gray-300 xl:w-48 md:text-left text-sm leading-5 text-gray-600">{{order.shipping_info.address}}, {{order.shipping_info.city}}</p>
                                </div>
                                <div class="flex justify-center md:justify-start items-center md:items-start flex-col space-y-4">
                                    <p class="text-base dark:text-white font-semibold leading-4 text-center md:text-left text-gray-800">{{app.Lang.CITY}}</p>
                                    <p class="w-48 lg:w-full dark:text-gray-300 xl:w-48 md:text-left text-sm leading-5 text-gray-600"> {{order.shipping_info.city}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>
{% include 'views/includes/footer.html.twig' %}