
            			<div class="text" style="padding: 0 2.5em; text-align: center;">
            				<h2>Your Account is ready</h2>
            				<h3>Enjoy with our solutions benifits</h3>
            				<p><a href="{{app.CONF.url}}activate-account/{{user.field.activation_token}}" class="btn btn-primary">Yes! Start now</a></p>
            			</div>
            			<div class="text" style="padding: 0 2.5em; text-align: center;">
            				<h3>Your credentials</h3>
            				<h4>URL : <a href="{{app.CONF.url}}activate-account/{{user.field.activation_token}}">{{app.CONF.url}}activate-account/{{user.field.activation_token}}</a></h4>
            				<h4>Email : {{user.email}}</h4>
            				<h4>Activation code : <b>{{user.field.activation_token}}</b></h4>
            			</div>
